::ng-deep .mat-form-field {
    display: block!important;
    position: relative!important;
    text-align: left!important;
}
.divtitle {
    padding: 0px;

}
::ng-deep.mat-option {
    color: #374649!important;
    font-family: 'ROBOTO-REGULAR'!important;
    font-weight: normal!important;
    font-size: 14px!important;
    line-height: 14px!important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 0!important;
    padding: 0!important;

}
::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #ffffff !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
     padding: 0!important;
     border-top: 0!important;
}


::ng-deep .cdk-overlay-pane {
    max-width: 100% !important; 
    width: 15%!important; 

}
@media (max-width: 600px) {
    ::ng-deep  .cdk-overlay-pane{
        width: 100%!important; 
    }
}
input[type="text"], input[type="password"], input[type="email"] {
     border-color: #ffffff; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
     border-radius: 0px;
     border-style: none; 
     border-width: none; 
     color: #374649!important;
     font-family: 'ROBOTO-REGULAR'!important;
     font-weight: normal!important;
     font-size: 14px!important;
     line-height: 12px!important;
     margin-bottom: 0px; 
     height: 100%; 
     content: "\f0d7";
}
.input-container {
    border-right: 1px solid #ECECF6;
    display: flex;
    width: 100%;
  }
  .inputModalCnx{
    padding: 20px 12px;
  }
  
  /* Style the form icons */
  .icon {
    color: #374649;
    display: flex;
    align-items: center;
    padding-right: 5px;
  }
  
  /* Style the input fields */
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
::ng-deep .mat-input-element {
    caret-color: #374649!important;
}
::ng-deep.mat-form-field-ripple {
    background-color: #ffffff!important;
}
::ng-deep.mat-form-field .mat-focused.mat-form-field-ripple {
    background-color: #ffffff!important;
}
.label_select{
font-family: "ROBOTO-BLACK";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
padding-left: 4px;

/* Gray 3 */

color: #374649 ;
}
@media (max-width: 767px) {
    .rowitems {
        padding-left: 32px;
        padding-right: 32px;
    }
}
@media (min-width: 768px) {
    .rowitems {
        padding-left: 65px;
        padding-right: 65px;
    }
}
.btn-red{
    background: #ED0000;

box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 0px;
width: 100%;
padding: 16px 20px;
}
.btn-red:disabled{
    background: #b3b3b3;
}
.btn-red:hover:disabled{
    background: #ffffff;
    border: 1px solid #b3b3b3;
}
.btn-red:hover:disabled .text-btn-red{
    color: #b3b3b3;
}
.btn-red:hover .text-btn-red{
    color: #ED0000;
}
.btn-red:hover {
    background: #ffffff;
    border: 1px solid #ED0000;
}
.text-btn-red:focus-visible {
    outline: none;
}
.text-btn-red{
    font-family:  "HelveticaNeueThin_0";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;

/* Secondaire / White */

color: #FFFFFF;
}