<form class="row divaccueil" [formGroup]="formSearch" (ngSubmit)="search()">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divtitle">
    <p class="title1accueil">
      {{'Titlep1' | translate }}
    </p>
    <p class="title2accueil">
      {{'textp1' | translate }}


    </p>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 divtitle">
    <!-- <ng-select2 [data]="fruitList" [placeholder]="'Selectionner'"></ng-select2>-->
    <div class="row" style="margin: 0;">
      <p class="label_select">

      {{'marque' | translate }}

      </p>
      <mat-form-field class="form-Control" appearance="fill">


        <div class="input-container">
          <input type="text" class="inputModalCnx" matInput formControlName="marque" id="marque" [matAutocomplete]="autoMarque"
            placeholder="{{'select' | translate }}">
          <i class="fa fa-caret-down icon"></i>
        </div>

        <mat-autocomplete #autoMarque="matAutocomplete" [displayWith]="displayMarque">
          <mat-option *ngFor="let marque of filteredMarques | async" [value]="marque.marque"
            (click)="onSelectMarque(marque)">
            {{marque.marque}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>


  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 divtitle">
    <div class="row" style="margin: 0;">
      <p class="label_select">

      {{'modele' | translate }}

      </p>
      <mat-form-field class="form-Control" appearance="fill">


        <div class="input-container">
          <input type="text" class="inputModalCnx" matInput [matAutocomplete]="autoModel" formControlName="modele" id="modele"
          placeholder="{{'select' | translate }}">
          <i class="fa fa-caret-down icon"></i>
        </div>

        <mat-autocomplete #autoModel="matAutocomplete" [displayWith]="displayModele">
          <mat-option *ngFor="let modele of filteredModeles| async " [value]="modele.modele"
            (click)="onSelectModele(modele)">
            {{modele.modele}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 divtitle">
    <div class="row" style="margin: 0;">
      <p class="label_select">

      {{'annee' | translate }}

      </p>
      <mat-form-field class="form-Control" appearance="fill">


        <div class="input-container">
          <input type="text" class="inputModalCnx" matInput formControlName="year" id="year" [matAutocomplete]="autoYear"
          placeholder="{{'select' | translate }}">
          <i class="fa fa-caret-down icon"></i>
        </div>

        <mat-autocomplete #autoYear="matAutocomplete" [displayWith]="displayYear">
          <mat-option *ngFor="let year of filteredYears| async " [value]="year" (click)="onSelectYear(year)">
            {{year}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 divtitle">
    <div class="row" style="margin: 0;">
      <p class="label_select">

      {{'carburant' | translate }}

      </p>
      <mat-form-field class="form-Control" appearance="fill">


        <div class="input-container">
          <input type="text" class="inputModalCnx" matInput formControlName="carburant" id="carburant" [matAutocomplete]="autoCarburant"
          placeholder="{{'select' | translate }}">
          <i class="fa fa-caret-down icon"></i>
        </div>

        <mat-autocomplete #autoCarburant="matAutocomplete" [displayWith]="displayYear">
          <mat-option *ngFor="let carburant of filteredCarburants | async; let i = index" [value]="carburant" (click)="onSelectCarburant(carburant)">
            {{carburant}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 divtitle">
    <div class="row" style="margin: 0;">
      <p class="label_select">
        &nbsp;
      </p>
      <button class="btn btn-red" type="submit" [disabled]='carburantSelected==""'>
        <span class="text-btn-red">
          {{'rechercherb' | translate }}

        </span>
      </button>

    </div>

  </div>

</form>
<div class="row" style="background:#ffffff ;    margin: 0;">

  <app-offer [max]="4"></app-offer>
  <app-lubricant [max]="4"></app-lubricant>
</div>
