<div class="row rowitems1">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divtitle" style="    margin-top: 20px;
    margin-bottom: 4px;">
        <span class="titlepagedegrade">
          {{'titlelubrifiant' | translate }}

        </span>
        <a *ngIf="max != 0" [routerLink]="['/lubricants']" class="a_red" style="float: right;">

            <i class="fa fa-caret-right icon"></i>             {{'tout' | translate }}


        </a>

    </div>
    <div *ngFor="let lubricant of lubricants | paginate: { itemsPerPage:12, currentPage: p }"
        class=" col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-top: 4px;" (click)="goToDetails(lubricant)">
        <div class="product">
            <div class="image">


                <img data-original="/assets/images/logo.png" src="{{lubricant.image}}" alt="img" class="imagecaroussel">

                <!--   <div class="promotion" *ngIf="lubricant.isPromo">
                    <span class="discount" style="font-weight: 400;">
                        <img  style="height: 25px;" data-original="/assets/images/iconfinder-discount-deal-percent.png" src="/assets/images/iconfinder-discount-deal-percent.png" alt="img" class="imagecaroussel">

                    </span>
                </div>-->
            </div>
            <div class="line_gradient">

            </div>

            <div class="description product_title">
                {{lubricant.name}}
            </div>

            <div class="row" style="padding: 0px 4px 4px;">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6" style="padding-right: 0px;">
                    <div *ngIf="lubricant.isPromo" class=" price div_card"
                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">


                        <span class="old-price" style="float:left">
                            {{lubricant.price}} {{parametre.devise}}
                        </span>
                        <br>
                        <span style="float:left"> {{lubricant.pricePromo}} {{parametre.devise}}</span>


                    </div>
                    <div *ngIf="!lubricant.isPromo" class=" price div_card"
                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">

                        <span style="float:left" class="price-without-promo"> {{lubricant.price}} {{parametre.devise}}</span>

                    </div>
                </div>
                <div class="div_card col-lg-6 col-md-6 col-xs-12 col-sm-6  padding_btn_acheter text-right"
                    style="margin-top: 6px;">

                    <div class="" id="addcart" name="addcart">



                        <button type="submit" (click)="goToDetails(lubricant)" class="btn btn_card"
                            data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                            <span class="add2cart">
                              {{'Acheter' | translate }}
                            </span>
                        </button>




                    </div>
                </div>

            </div>


        </div>
    </div>
    <div *ngIf="lubricants.length >12 " class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right"
        style="padding-top: 58px;">
        <pagination-controls class="paginator" previousLabel="" nextLabel="" (pageChange)="p = $event">
        </pagination-controls>
    </div>
</div>
