<div class="container" style="margin: 0;">


    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 rowleft" style="padding-top: 16px;">

        <div class="row" style="margin: 0;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                style="height: 40px;padding-right: 0px;padding-left: 0px;">
                <span class="titlepagegris">1. </span>
                <span class="titlepagered">  {{'Vehicule' | translate }} </span>
                <span class="titleupdate" style="float:right ;line-height: 40px;vertical-align: middle;cursor: pointer;"
                    [routerLink]="['/']"    >  {{'Modifier' | translate }} </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-right: 0px;padding-left: 0px;">
                <app-vehicule-item [vehicule]="vehicule"></app-vehicule-item>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                style="height: 50px;padding-right: 0px;padding-left: 0px;margin-top: 10px;border-top: 1px solid #DDDDDD;">
                <span class="titlepagegris">2. </span>
                <span class="titlepagered">  {{'Lieu' | translate }} </span>
                <span class="titleupdate" style="float:right ;line-height: 40px;vertical-align: middle;cursor: pointer;"
                    (click)='goToStations()'    >  {{'Modifier' | translate }} </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-right: 0px;padding-left: 0px;">
                <app-item-station [station]="station"></app-item-station>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                style="height: 50px;padding-right: 0px;padding-left: 0px;" *ngIf="offer">
                <span class="titlepagegris">3. </span>
                <span class="titlepagered">  {{'Offrechoisie' | translate }} </span>
                <span class="titleupdate" style="float:right ;line-height: 40px;vertical-align: middle;cursor: pointer;"
                    (click)='back()'    >  {{'Modifier' | translate }} </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-right: 0px;padding-left: 0px;"
                *ngIf="offer">
                <div class="row" style="padding-top: 15px;
                padding-bottom: 15px;
                margin: 0;
                border-bottom: 1px solid #DDDDDD;">

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-left: 0;">
                        <img class="image_fade" [src]="offer?.image" style="height: auto; width: 100%;border-radius: 10px;">
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="padding: 0;">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class='itemoffername'>{{offer?.name}}</span>
                            </div><br><br>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div *ngIf="offer?.isPromo" class="product-price" style="margin: 9px 0px;">
                                    <span class="price-standard">{{offer?.price}} {{parametre.devise}}</span>
                                    <span class="price-sales">{{offer?.pricePromo}} {{parametre.devise}}</span>

                                </div>
                                <div *ngIf="!offer?.isPromo" class="product-price" style="margin: 9px 0px;">
                                    <span class="price-sales">{{offer?.price}} {{parametre.devise}}</span>
                                </div>
                            </div><br><br>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                <p class='prestationoffer'>  {{'PrestationsIncluses' | translate }} </p>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                <p class="nameprestationoffer"
                                    *ngFor="let prestation of offer.prestations;let last = last;">
                                    <img class="iconprestation" [src]="prestation.icon">
                                    {{prestation.name}}
                            </p>

                            </div>

                        </div>
                    </div>

                </div>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                style="height: 50px;padding-right: 0px;padding-left: 0px;" *ngIf="lubricant">
                <span class="titlepagegris">3. </span>
                <span class="titlepagered">  {{'Produitchoisi' | translate }} </span>
                <span class="titleupdate" style="float:right ;line-height: 40px;vertical-align: middle;cursor: pointer;"
                    (click)='back()'    >  {{'Modifier' | translate }} </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-right: 0px;padding-left: 0px;"
                *ngIf="lubricant">
                <div class="row" style="padding-top: 15px;
                padding-bottom: 15px;
                margin: 0;
                border-bottom: 1px solid #DDDDDD;">

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-left: 0;">
                        <img class="image_fade" [src]="lubricant?.image" style="height: auto; width: 100%;border-radius: 10px;">
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="padding: 0;">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class='itemoffername'>{{lubricant?.name}}</span>
                            </div><br><br>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div *ngIf="lubricant?.isPromo" class="product-price" style="margin: 9px 0px;">
                                    <span class="price-standard">{{lubricant?.price}} {{parametre.devise}}</span>
                                    <span class="price-sales">{{lubricant?.pricePromo}} {{parametre.devise}}</span>

                                </div>
                                <div *ngIf="!lubricant?.isPromo" class="product-price" style="margin: 9px 0px;">
                                    <span class="price-sales">{{lubricant?.price}} {{parametre.devise}}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>





    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 rowright " style="padding-top: 16px;">
        <div class="row hidden-xs hidden-sm" style="margin: 0px 0px 8px 0;padding-right: 0px;">
            <span class="lienactive" (click)='goToStations()'>  {{'Choisissezstation' | translate }} </span>
            <span class="lienicon"><i class=" glyphicon  glyphicon-chevron-right"></i></span>
            <span class="lienactive" (click)='back()'>  {{'Choisissezoffre' | translate }} </span>
            <span class="lienicon"><i class=" glyphicon  glyphicon-chevron-right"></i></span>
            <span class="liendeactiver">  {{'Prestations' | translate }} </span>
            <span class="lienicon"><i class=" glyphicon  glyphicon-chevron-right"></i></span>
            <span class="liendeactiver">  {{'Horaires' | translate }} </span>
            <span class="lienicon"><i class=" glyphicon  glyphicon-chevron-right"></i></span>
            <span class="liendeactiver">  {{'Validation' | translate }} </span>
        </div>
        <div class="row" style="margin: 0;padding-right: 0px;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  divPrestation" style="padding: 0px 0px;">
                <span class="titlepagered">
                  {{'autresprestations' | translate }}
                  *</span>
                <br>
                <span class='itemVehiculeName'>Veuillez sélectionner d’autres prestations souhaitées en option </span>
                <form [formGroup]="form" (ngSubmit)="submit()" *ngIf='form'>

                    <div class="form-group formpresatations" *ngIf='prestationsData.length>0'>
                        <div *ngFor="let prestationStation of prestationsData"
                            style=" display: flex;align-items: center;">

                            <input class='checkbox' type="checkbox" [value]="prestationStation.id"
                                (change)="onCheckboxChange($event)" />
                            <label class="labelCheckbox">
                                <img class="iconprestation" [src]="prestationStation.prestation.icon">
                                {{prestationStation.prestation.name}}
                            </label>

                        </div>
                    </div>
                    <div *ngIf='prestationsData.length>0'>
                        <label class="text" style="font-size: 14px;font-weight: bold;color: #ED0000;" *ngIf="offer">
                            *{{'otherprice' | translate}}.
                        </label>
                        <label class="text" style="font-size: 14px;font-weight: bold;color: #ED0000;" *ngIf="lubricant">
                            *{{'otherprice' | translate}}

                        </label>
                    </div>
                    <div *ngIf='prestationsData.length==0'>
                        <label class="text">
                          {{'autresprestationsdispo' | translate}}

                        </label>
                    </div>

                    <div class="row" style="    padding: 40px 0px;">
                        <div class="col-lg-6 col-md6 col-sm-6 col-xs-6">
                            <button class="btn btn-retour" (click)='back()'>
                                <span class="text-btn-white">
                                  {{'Retour' | translate}}

                                </span>
                            </button>
                        </div>
                        <div class="col-lg-6 col-md6 col-sm-6 col-xs-6 text-right">
                            <button class="btn btn-valider" type="submit">
                                <span class="text-btn-red">
                                  {{'Valider' | translate}}

                                </span>
                            </button>

                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>
