.paginator{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.paginator /deep/ .ngx-pagination .current {
    background: #ED0000;
    border-radius: 4px;
    padding: 10px 16px;
    margin-left: 4px;
    margin-right: 4px;
}

.paginator /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover {
    background: #d4d4d4;
    border-radius: 3px;
    padding: 10px 16px;
    text-decoration: none;
}

.paginator /deep/ .ngx-pagination a:focus, .ngx-pagination button:focus {
    outline: none;
    background: #d4d4d4;
}
.paginator /deep/ .ngx-pagination a, .ngx-pagination button {
    color: #374649;
    background: #FFFFFF;
    display: block;
    padding: 10px 16px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 4px;
}
.paginator /deep/ .ngx-pagination .disabled {
    padding: 10px 16px;
    border-radius: 4px;
    color: #cacaca;
    cursor: default;
    margin-left: 4px;
    margin-right: 4px;
}
@media (max-width: 767px) {
    .rowitems1 {
        margin: 16px 5px;
    }
}
@media (min-width: 768px) {
    .rowitems1 {
        margin: 16px 45px;
    }
}