@media (max-width: 768px) {
    .rowitems {
        padding-left: 32px;
        padding-right: 32px;
    }

}

@media (max-width: 991px) {

    .container{
        padding-right: 0px;
        padding-left: 0px;
    }
}
