<div class="container" style="margin: 0;">




    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rowright " style="padding-top: 16px;">
        <div class="row" style="margin: 0;padding-right: 0px;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  divPrestation" style="padding: 0px 0px;">
                <span class="titlepagered">{{'DateetHeure' | translate}}</span>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p class="spanText"> {{'choosedate' | translate}} </p>
                        <mat-card class="demo-inline-calendar-card" *ngIf="commande.station.id">
                            <mat-calendar [minDate]="minDate" [dateFilter]="sundaysDatesFilter"
                                [(selected)]="selectedDate" (selectedChange)="updateDate($event) "></mat-calendar>
                        </mat-card>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p class="spanText"> {{'chooseheure' | translate}} </p>
                        <p class="span1Text">{{selectedDate | date:'d MMM Y'}}</p>
                        <div class="row" *ngIf="dates">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf='dates.length>0'>
                                <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedHour">
                                    <mat-radio-button *ngFor="let date of dates; let i = index"
                                        value="{{date| date:'HH:mm'}}">{{ date | date:'HH:mm'}}</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf='dates.length== 0'>
                                <p class="spanText"> {{'Pasdhoraire' | translate}}.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="    padding: 40px 0px;">
                    <div class="col-lg-6 col-md6 col-sm-6 col-xs-6">
                        <button class="btn btn-retour"  [routerLink]="['/mescommandes']">
                            <span class="text-btn-white">
                              {{'Retour' | translate}}
                            </span>
                        </button>
                    </div>
                    <div class="col-lg-6 col-md6 col-sm-6 col-xs-6 text-right">
                        <button class="btn btn-valider" type="submit" (click)="submit()"
                            [disabled]='!selectedDate || !selectedHour'>
                            <span class="text-btn-red">
                              {{'Valider' | translate}}
                            </span>
                        </button>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
