
::ng-deep.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: #ED000054 !important;
}


::ng-deep.mat-calendar-body-cell-content, .mat-date-range-input-separator {
    color: #374649!important;
}

::ng-deep.mat-calendar-body-selected {
    background-color: #ED0000 ! important;
    color: white! important;
  
}


.text{
    font-family: HelveticaNeueThin_0;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 15px */


color: #ED0000;
}





::ng-deep .mat-radio-button {
    background: #FFFFFF! important;
    border: 1px solid #374649 ! important;
    box-sizing: border-box! important;
    border-radius: 4px;
    padding: 5px 8px;
    margin: 0px 8px 8px  0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #ED0000;
}
::ng-deep  .mat-radio-label {

    margin-bottom: 0px;
}
::ng-deep.mat-radio-container {
    display: none!important;
}
::ng-deep .mat-radio-label-content {
     padding-left: 0px!important; 
     padding-right: 0px! important;
     font-family: 'ROBOTO-REGULAR';
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked  {
    background: #ED0000! important;
    color: #ffffff! important;
}