<div class="container" style="margin: 0;">


    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 rowleft" style="padding-top: 16px;">
        <div class="row" style="margin: 0;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                style="height: 40px;padding-right: 0px;padding-left: 0px;">
                <span class="titlepagegris">1. </span>
                <span class="titlepagered">  {{'Vehicule' | translate }} </span>
                <span class="titleupdate" style="float:right ;line-height: 40px;vertical-align: middle;cursor: pointer;"
                    [routerLink]="['/']"    >  {{'Modifier' | translate }} </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-right: 0px;padding-left: 0px;">
                <app-vehicule-item [vehicule]="commande.vehicule"></app-vehicule-item>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                style="height: 50px;padding-right: 0px;padding-left: 0px;margin-top: 10px;border-top: 1px solid #DDDDDD;">
                <span class="titlepagegris">2. </span>
                <span class="titlepagered">  {{'Lieu' | translate }} </span>
                <span class="titleupdate" (click)='goToStations()'
                    style="float:right ;line-height: 40px;vertical-align: middle;cursor: pointer;"    >  {{'Modifier' | translate }} </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-right: 0px;padding-left: 0px;">
                <app-item-station [station]="commande.station"></app-item-station>
            </div>



            <!--Offer choisie-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                style="height: 50px;padding-right: 0px;padding-left: 0px;" *ngIf="commande.offer">
                <span class="titlepagegris">3. </span>
                <span class="titlepagered">  {{'Offrechoisie' | translate }} </span>
                <span class="titleupdate" (click)='goToProducts()'
                    style="float:right ;line-height: 40px;vertical-align: middle;cursor: pointer;"    >  {{'Modifier' | translate }} </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-right: 0px;padding-left: 0px;"
                *ngIf="commande.offer ">
                <div class="row" style="padding-top: 15px;
                padding-bottom: 15px;
                margin: 0;
                border-bottom: 1px solid #DDDDDD;">

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-left: 0;">
                        <img class="image_fade" [src]="commande.offer?.image"
                            style="height: auto; width: 100%;border-radius: 10px;">
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="padding: 0;">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class='itemoffername'>{{commande.offer?.name}}</span>
                            </div><br><br>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div *ngIf="commande.offer?.isPromo" class="product-price" style="margin: 9px 0px;">
                                    <span class="price-standard">{{commande.offer?.price}} {{parametre.devise}}</span>
                                    <span class="price-sales">{{commande.offer?.pricePromo}} {{parametre.devise}}</span>

                                </div>
                                <div *ngIf="!commande.offer?.isPromo" class="product-price" style="margin: 9px 0px;">
                                    <span class="price-sales">{{commande.offer?.price}} {{parametre.devise}}</span>
                                </div>
                            </div><br><br>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                <p class='prestationoffer'>
                      {{'PrestationsIncluses' | translate }}

                                </p>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                <p class="nameprestationoffer"
                                    *ngFor="let prestation of commande.offer?.prestations ; let i = index; let first = first ;let last = last;">
                                    <img [src]="prestation.icon" class="iconprestation">
                                    {{prestation.name}}
                            </p>

                            </div>

                        </div>
                    </div>

                </div>
            </div>



            <!--Lubricant choisie-->

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                style="height: 50px;padding-right: 0px;padding-left: 0px;" *ngIf="commande.lubricant">
                <span class="titlepagegris">3. </span>
                <span class="titlepagered">  {{'Produitchoisi' | translate }} </span>
                <span class="titleupdate" (click)='goToProducts()'
                    style="float:right ;line-height: 40px;vertical-align: middle;cursor: pointer;"    >  {{'Modifier' | translate }} </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-right: 0px;padding-left: 0px;"
                *ngIf="commande.lubricant">
                <div class="row" style="padding-top: 15px;
                padding-bottom: 15px;
                margin: 0;
                border-bottom: 1px solid #DDDDDD;">

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-left: 0;">
                        <img class="image_fade" [src]="commande.lubricant?.image"
                            style="height: auto; width: 100%;border-radius: 10px;">
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="padding: 0;">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class='itemoffername'>{{commande.lubricant?.name}}</span>
                            </div><br><br>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div *ngIf="commande.lubricant?.isPromo" class="product-price" style="margin: 9px 0px;">
                                    <span class="price-standard">{{commande.lubricant?.price}} {{parametre.devise}}</span>
                                    <span class="price-sales">{{commande.lubricant?.pricePromo}} {{parametre.devise}}</span>

                                </div>
                                <div *ngIf="!commande.lubricant?.isPromo" class="product-price"
                                    style="margin: 9px 0px;">
                                    <span class="price-sales">{{commande.lubricant?.price}} {{parametre.devise}}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                style="height: 50px;padding-right: 0px;padding-left: 0px;padding-top: 10px;">
                <span class="titlepagegris">4. </span>
                <span class="titlepagered">
                  {{'AutresPrestations' | translate }}

                </span>
                <span class="titleupdate" style="float:right ;line-height: 40px;vertical-align: middle;cursor: pointer;"
                    (click)='back()'    >  {{'Modifier' | translate }} </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-right: 0px;padding-left: 0px;">
                <p class="autreprestation" *ngFor="let prestation of commande.prestations">
                    <img class="iconprestation" [src]="prestation.icon">
                    {{prestation.name}}
                </p>
                <p class="title_vide" *ngIf="commande.prestations && commande.prestations.length == 0">
                  {{'aucuneprestationchoisie' | translate }}


                  </p>
            </div>
        </div>





    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 rowright " style="padding-top: 16px;">
        <div class="row hidden-xs hidden-sm" style="margin: 0px 0px 8px 0;padding-right: 0px;">
            <span class="lienactive" (click)='goToStations()'>  {{'Choisissezstation' | translate }} </span>
            <span class="lienicon"><i class=" glyphicon  glyphicon-chevron-right"></i></span>
            <span class="lienactive" (click)='goToProducts()'>  {{'Choisissezoffre' | translate }} </span>
            <span class="lienicon"><i class=" glyphicon  glyphicon-chevron-right"></i></span>
            <span class="lienactive" (click)='back()'>  {{'Prestations' | translate }} </span>
            <span class="lienicon"><i class=" glyphicon  glyphicon-chevron-right"></i></span>
            <span class="lienencours">  {{'Horaires' | translate }} </span>
            <span class="lienicon"><i class=" glyphicon  glyphicon-chevron-right"></i></span>
            <span class="liendeactiver">  {{'Validation' | translate }} </span>
        </div>
        <div class="row" style="margin: 0;padding-right: 0px;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  divPrestation" style="padding: 0px 0px;">
                <span class="titlepagered">{{'DateetHeure' | translate }}</span>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p class="spanText">Veuillez sélectionner la date </p>
                        <mat-card class="demo-inline-calendar-card" *ngIf="commande.station.id">
                            <mat-calendar [minDate]="minDate" [dateFilter]="sundaysDatesFilter"
                                [(selected)]="selectedDate" (selectedChange)="updateDate($event) "></mat-calendar>
                        </mat-card>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p class="spanText">{{'chooseheure' | translate }}</p>
                        <p class="span1Text">{{selectedDate | date:'d MMM Y'}}</p>
                        <div class="row" *ngIf="dates">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf='dates.length>0'>
                                <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedHour">
                                    <mat-radio-button *ngFor="let date of dates; let i = index"
                                        value="{{date| date:'HH:mm'}}">{{ date| date:'HH:mm'}}</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf='dates.length== 0'>
                                <p class="spanText">
                                  {{'Pasdhoraire' | translate }}
                                  </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="    padding: 40px 0px;">
                    <div class="col-lg-6 col-md6 col-sm-6 col-xs-6">
                        <button class="btn btn-retour" (click)='back()'>
                            <span class="text-btn-white">

                                {{'Retour' | translate }}

                            </span>
                        </button>
                    </div>
                    <div class="col-lg-6 col-md6 col-sm-6 col-xs-6 text-right">
                        <button class="btn btn-valider" type="submit" (click)="submit()"
                            [disabled]='!selectedDate || !selectedHour'>
                            <span class="text-btn-red">

                                {{'Valider' | translate }}

                            </span>
                        </button>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
