

.labelCheckbox{
    font-family: 'ROBOTO-REGULAR';
    color: #374649;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

letter-spacing: 0.1px;
margin: 0px 15px;
}
.divPrestation{
    background: #FFFFFF;
border: 1px solid #E4E4E4;
box-sizing: border-box;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
border-radius: 4px;
padding: 13px 16px!important;
}

.checkbox{
    margin: 10px 0px;
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
}
.checkbox:active, .checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked {
	background-color: #ED0000;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #ffffff;

}
.text{
    font-family: "ROBOTO-LIGHT";
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 15px */


color: #ED0000;
}
.formpresatations {
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 4px;
    padding: 13px 16px;
    margin-top: 13px;
}
::ng-deep .mat-form-field {
    display: block!important;
    position: relative!important;
    text-align: left!important;
}
.divtitle {
    padding: 0px;

}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #ffffff !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
     padding: 0!important;
     border-top: 0!important;
}
::ng-deep.mat-option {
    color: #374649!important;
    font-family: 'ROBOTO-REGULAR'!important;
    font-weight: normal!important;
    font-size: 12px!important;
    line-height: 12px!important;
}
input[type="text"], input[type="password"], input[type="email"] {
    border-color: #ffffff; 
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
    border-radius: 0px;
    border-style: none; 
    border-width: none; 
    color: #374649!important;
    font-family: 'ROBOTO-REGULAR'!important;
    font-weight: normal!important;
    font-size: 14px!important;
    line-height: 12px!important;
    margin-bottom: 0px; 
    height: 100%; 
    content: "\f0d7";
}
.input-vehicule{
    padding: 10px 16px 18px 16px!important

}
.input-container {
    display: flex;
    width: 100%;
  }
  
  /* Style the form icons */
  .icon {
    color: #374649;
    padding: 11px 5px 18px 5px!important;
  }
  
  /* Style the input fields */
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
::ng-deep .mat-input-element {
    caret-color: #374649!important;
}
::ng-deep.mat-form-field-ripple {
    background-color: #ffffff!important;
}
::ng-deep.mat-form-field .mat-focused.mat-form-field-ripple {
    background-color: #ffffff!important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
     border-radius: 10px!important;
}
::ng-deep .mat-form-field-wrapper {
     padding-bottom: 0px!important; 
}
.label_select{
font-family: "HelveticaNeueThin_0";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
margin: 0;

/* Gray 3 */

color: #374649 ;
}
.containerselect{
    margin-top: 25px;
    background: #FFFFFF;
/* Gray 5 */

border: 1px solid #E0E0E0;
box-sizing: border-box;
border-radius: 10px;
}
@media (max-width: 767px) {
    .rowitems {
        padding-left: 32px;
        padding-right: 32px;
    }
}
@media (min-width: 768px) {
    .rowitems {
        padding-left: 65px;
        padding-right: 65px;
    }
}

::ng-deep.mat-form-field-underline {
    width: 0 !important;

}