<div class="row rowitems1">







    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <mat-error *ngIf="error">
                <span style="font-size: 17px;">{{error}}</span>
            </mat-error>
            <div class="alert alert-success" role="alert" *ngIf="success">
                <span style="font-size: 17px;">{{success}}</span>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  paddingleft" >
        <form class="row" style="    margin: 0;" [formGroup]="updateProfileForm" (ngSubmit)="onSubmitProfile()">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                <span class="titlepagered " style="font-size: 20px;">
                    Mes informations
                </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">

                    <div *ngIf="errorInfo" class="alert alert-danger">
                        <span style="font-size: 17px;">{{errorInfo}}</span>
                    </div>
                    <div class="alert alert-success" role="alert" *ngIf="successInfo">
                        <span style="font-size: 17px;">{{successInfo}}</span>
                    </div>
                </div>

            </div>
            <!--Nom et prenom-->
            <div class="col-md-12 col-xs-12">
                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <p _ngcontent-nvw-c191="" class="titlepagegris" style="font-size: 16px;    margin: 0;">
                            {{'Nomprenom' | translate }}*</p>
                        <input class='form-control inputReset' matInput placeholder="{{'Nomprenom' | translate }}*" id="firstName"
                            formControlName="firstName"
                            [ngClass]="{ 'is-invalid': formprofile.firstName.errors && formprofile.firstName.touched  }">
                    </mat-form-field>
                    <mat-error *ngIf="formprofile.firstName.errors && formprofile.firstName.touched">
                        <div *ngIf="formprofile.firstName.errors.required">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span> {{'renseignnom' | translate }}</span>
                        </div>
                    </mat-error>

                </div>
            </div>


            <!--Email-->
            <div class="col-md-12 col-xs-12">
                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <p _ngcontent-nvw-c191="" class="titlepagegris" style="font-size: 16px;    margin: 0;">
                          {{'email' | translate }}
                          *</p>
                        <input class='form-control inputReset' matInput placeholder="Email*" id="email" formControlName="email"
                            [ngClass]="{ 'is-invalid': formprofile.email.touched && formprofile.email.errors}">
                    </mat-form-field>
                    <mat-error *ngIf="formprofile.email.touched && formprofile.email.errors">
                        <div *ngIf="formprofile.email.errors.required">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span>                           {{'renseignEmail' | translate }}
                            </span>
                        </div>
                        <div *ngIf="formprofile.email.errors.pattern">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span> {{'inseremailvalid' | translate }}</span>
                        </div>
                    </mat-error>
                    <div role="alert" class="mat-error ng-star-inserted" id="mat-error-0"
                        *ngIf="code ==2 && emailUsed == formprofile.email.value">
                        <i class="fa fa-exclamation-circle mr-1"></i>
                        <span> {{'usedmail' | translate }}</span>
                    </div>

                </div>
            </div>
            <!--Tel-->
            <div class="col-md-12 col-xs-12">
                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <p _ngcontent-nvw-c191="" class="titlepagegris" style="font-size: 16px;    margin: 0;">
                           {{'phone' | translate }}*</p>
                        <input class='form-control inputReset' matInput placeholder="Téléphone*" id="tel" formControlName="tel"
                            [ngClass]="{ 'is-invalid':  formprofile.tel.errors && formprofile.tel.touched}">
                    </mat-form-field>
                    <mat-error *ngIf="formprofile.tel.errors && formprofile.tel.touched">
                        <div *ngIf="formprofile.tel.errors.required">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span>  {{'validephone' | translate }}</span>
                        </div>
                        <div *ngIf="formprofile.tel.errors.pattern">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span>
                              {{'maxphone' | translate }}
                              </span>
                        </div>
                    </mat-error>

                </div>
            </div>



            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-top: 20px;">
                <button class="btn btn-red" type="submit">
                    <span class="text-btn-red">
                      {{'update' | translate }}

                    </span>
                </button>
            </div>


        </form>



    </div>



    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  paddingright" >
        <form class="row " style="    margin: 0;" [formGroup]="updatePasswordForm" (ngSubmit)="onSubmitPassword()">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <span class="titlepagered " style="font-size: 20px;">
                  {{'changepassword' | translate }}

                </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="errorPassword || successPassword">
                <div class="form-group">
                    <div *ngIf="errorPassword" class="alert alert-danger">
                        <span style="font-size: 17px;">{{errorPassword}}</span>
                    </div>
                    <div class="alert alert-success" role="alert" *ngIf="successPassword">
                        <span style="font-size: 17px;">{{successPassword}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <p _ngcontent-nvw-c191="" class="titlepagegris" style="font-size: 16px;    margin: 0;">
                          {{'ancienpass' | translate }}
                        </p>

                        <input class='form-control inputReset' type='password' matInput
                            placeholder="Nouveau mot de passe*" id="oldpassword" formControlName="oldpassword"
                            [ngClass]="{ 'is-invalid':  formpassword.oldpassword.touched && formpassword.oldpassword.errors}">
                    </mat-form-field>
                    <mat-error *ngIf="formpassword.oldpassword.touched && formpassword.oldpassword.errors">
                        <div *ngIf="formpassword.oldpassword.errors.required">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span>                       {{'renseipassword' | translate }}
                            </span>
                        </div>
                        <div *ngIf="formpassword.oldpassword.errors.pattern">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span>                      {{'validpass' | translate }}
                            </span>
                        </div>

                    </mat-error>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <p _ngcontent-nvw-c191="" class="titlepagegris" style="font-size: 16px;    margin: 0;">
                          {{'newpass' | translate }}
                        </p>

                        <input class='form-control inputReset' type='password' matInput
                            placeholder="Nouveau mot de passe*" id="newpassword" formControlName="newpassword"
                            [ngClass]="{ 'is-invalid':  formpassword.newpassword.touched && formpassword.newpassword.errors}">
                    </mat-form-field>
                    <mat-error *ngIf="formpassword.newpassword.touched && formpassword.newpassword.errors">
                        <div *ngIf="formpassword.newpassword.errors.required">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span>                       {{'renseinewpassword' | translate }}
                            </span>
                        </div>
                        <div *ngIf="formpassword.newpassword.errors.pattern">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span>
                      {{'validpass' | translate }}
                    </span>
                        </div>
                    </mat-error>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <p _ngcontent-nvw-c191="" class="titlepagegris" style="font-size: 16px;    margin: 0;">
                          {{'confpass' | translate }}
                        </p>

                        <input class='form-control inputReset' type='password' matInput
                            placeholder="Confirmer nouveau mot de passe*" id="confirmpassword"
                            formControlName="confirmpassword"
                            [ngClass]="{ 'is-invalid':  formpassword.confirmpassword.touched && formpassword.confirmpassword.errors}">
                    </mat-form-field>
                    <mat-error *ngIf="formpassword.confirmpassword.touched && formpassword.confirmpassword.errors">
                        <div *ngIf="formpassword.confirmpassword.errors.required">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span>                       {{'confpass' | translate }}
                            </span>
                        </div>
                        <div *ngIf="formpassword.confirmpassword.errors.pattern">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span>                      {{'validpass' | translate }}
                            </span>
                        </div>

                        <div *ngIf="formpassword.confirmpassword.errors.mustMatch">
                            <i class="fa fa-exclamation-circle mr-1"></i>
                            <span>                      {{'identikpassword' | translate }}
                            </span>
                        </div>

                    </mat-error>


                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-top: 20px;">
                    <button class="btn btn-red" type="submit">
                        <span class="text-btn-red">
                            {{'modifypass' | translate }}
                        </span>
                    </button>
            </div>


        </form>



    </div>
</div>
