<div class="row" style="padding-top: 3px;margin: 0;" *ngIf="vehicule.marque">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;">
        <span class='itemVehiculeName'>{{vehicule?.marque}},{{vehicule?.modele}} {{vehicule?.year}}
            {{vehicule?.carburant}}</span>
    </div>
</div>