<div class="product">
    <div class="image">


        <img data-original="/assets/images/logo.png" src="{{lubricant.image}}" alt="img" class="imagecaroussel">

      <!--<div class="promotion" *ngIf="lubricant.isPromo">
            <span class="discount" style="font-weight: 400;">
                
                <img  style="height: 25px;" data-original="/assets/images/iconfinder-discount-deal-percent.png" src="/assets/images/iconfinder-discount-deal-percent.png" alt="img" class="imagecaroussel">
            
            </span>
        </div>--> 
    </div>
    <div class="description"
        style="margin-top: 15px;min-height: 44px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;">
        {{lubricant.name}}
    </div>

    <div class="row" style="padding: 0px 4px 4px;">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div *ngIf="lubricant.isPromo" class=" price div_card"
                style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">

                <span style="float:left"> {{lubricant.pricePromo}} {{parametre.devise}}</span>
                <br>
                <span class="old-price" style="float:left">
                    {{lubricant.price}} {{parametre.devise}}
                </span>

            </div>
            <div *ngIf="!lubricant.isPromo" class=" price div_card"
                style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">

                <span style="float:left" > {{lubricant.price}} {{parametre.devise}}</span>

            </div>
        </div>
        <div class="div_card col-lg-6 col-md-6 col-xs-12 col-sm-6 text-right padding_btn_acheter"
            style="margin-top: 6px;">

            <div class="" id="addcart" name="addcart">



                <button type="submit" class="btn_card"
                    data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                    <span class="add2cart">
                        Acheter
                    </span>
                </button>




            </div>
        </div>

    </div>

</div>