
a:hover,
a:focus, a.link {
    color: #ED0000;
}

.search-full, .search-input {
    background: #ffffff;
}

.search-close {
    color: #ED0000;
}

.btn-primary, .btn-primary, .product:hover .add-fav:hover, .product:hover .add-fav.active {
    background-color: #ED0000;
    color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #ED0000;
    border-color: #ED0000;
    color: #FFFFFF;
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background: #ED0000;
}

.navbar-tshop {
    background: #ffffff;
}

.navbar-top {
    background: #ffffff;
    border-bottom: 1px solid rgba(222, 222, 222, 0.6);
}

.site-color {
    color: #3498db !important;
}

.navbar-nav > li > a {
    color: #373737;
}

.nav > li.active  , .nav > li:hover {
   border-bottom: 5px solid #ED0000;

}    
.nav > li.active a   {
   background:  #ED0000;
   color: #ffffff!important;
 
 }
  .nav > li:hover a {
    background:  #ffffff;
    color: #374649!important;

  }
 


.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .cartMenu:hover > a.dropdown-toggle {
    background: transparent;
}

.dropdown-menu {
    border-top: solid #c1bfbf;
}

.search-box:hover .form-control {
    background: #3498db;
}

.search-box:hover .btn-nobg {
    color: #3498db;
}

.searchInputBox .search-btn {
    color: #fff;
}

.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: rgba(52, 152, 219, 0.7) !important;
}

.action-control a:hover, .action-control a.active {
    color: #fff;
    background: #ED0000;
}

.product:hover, .featuredImgLook2 .inner:hover {
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.subCategoryList .thumbnail:hover {
    border: 1px solid #3498db;
}

.pager2 a {
    border: 1px solid #3498db;
}

.pager2 a.selected {
    background: #3498db;
}

.btn-discover, .btn-site, .newsLatterBox .btn {
    background: #3498db;
}

.btn-discover:hover, .btn-site:hover, .newsLatterBox .btn:hover {
    background: #ED0000;
}

.full {
    width: 100%;
}

.footer a:hover {
    color: #3498db;
}

.footer {
    /*border-top: solid 3px #3498db;*/
}

.modal-header {
    background: #3498db;
}

.form-control:focus {
    border-color: #3498db;
}

.new-product {
    background: rgba(52, 152, 219, 0.95) !important;
}

#pager a.cycle-pager-active {
    background: rgba(52, 152, 219, 0.5);
}

/* tree menu */

.nav.tree > li.active, .nav.tree > li > a:hover, .nav.tree > li > a:focus, .nav.tree > li:hover > a {
    background: none;
    color: #2a2a2a;
}

.nav.tree .open-tree > a, .nav.tree .open-tree > a:hover, .nav.tree .open-tree > a:focus {
    background: none;
    font-weight: bold;
    color: #2a2a2a;
}

.panel-default > .panel-heading {
    border-top: 4px solid #3498db;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li:hover > a {
    background: #BFC9CA;
}

.nav-tabs {
    border-bottom: 3px solid #BFC9CA;
}

.socialIcon a:hover {
    background: #3498db;
}

.cart-actions button, .cart-actions .wishlist {
    background: none repeat scroll 0 0 #3498db;
    border: 2px solid #ED0000;
}

.cart-actions button:hover {
    background: #fff;
    color: #2a2a2a;
    border: solid 2px #3498db;
}

.sp-thumbs a:hover, .sp-thumbs a:active, .sp-current, sp-current:visited {
    border: 2px solid #3498db !important;
}

.promo-1 {
    background: none repeat scroll 0 0 #ED0000;
}

@media (max-width: 767px) {
    .miniCartFooter {
        background: #ED0000 !important;
    }
}

#pager2 span.cycle-pager-active {
}

#pager2 span.cycle-pager-active {
    background: #ED0000 !important;
}

#pager2 span {
    border: 2px solid #ED0000
}

.orderStep li.active a {
    background: #3498db;
}

.orderStep li.active a:after {
    border-top-color: #3498db !important;
}

.orderStep li a {
    background: #2c88c5;
}

darkcoilor {
    background: #2c88c5;
}

citecolor {
    color: #3498db !important;
}
