<div class="container" style="margin: 0;">




    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rowright " style="padding-top: 16px;">
        <div class="row" style="margin: 0;padding-right: 0px;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  divPrestation" style="padding: 0px 0px;">
                <div class="row text-center">

                    <span class="titlepagered text-center" style="color: #374649 ;font-size: 18px;"> {{'commandeconfirmee' | translate }}
                        <br> {{'hote' | translate }}{{commande.station?.name}}

                    </span>
                    <span *ngIf=" commande.dateOfReceipt " class="titlepagered text-center" style="color: #374649 ;font-size: 18px;">
                        ,<br>{{'alheure' | translate }} {{commande.dateOfReceipt | date:'d MMM Y '}}  {{commande.receptionPeriod}}.
                    </span>
                    <span *ngIf="!commande.dateOfReceipt " class="titlepagered text-center" style="color: #374649 ;font-size: 18px;">
                      .
                    </span>
                </div>

                <div class="row rowmargin" style="">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 headDiv ">

                        <p class="headText text-center" style="font-size: 20px;margin: 12px;">{{'Commande' | translate }} N°{{commande.id}}</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bodyDiv ">


                        <div class="row">
                            <div *ngIf="commande && commande.vehicule " class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                style="padding-bottom: 20px;border-bottom: 1px solid rgba(222, 222, 222, 0.6);">
                                <app-vehicule-item [vehicule]="commande.vehicule"></app-vehicule-item>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"
                                style="padding: 20px 0px 20px 20px;">
                                <img *ngIf="commande.qrcode" class="image_fade" [src]="commande.qrcode"
                                    style="background-color: #ffffff;height: auto; width: 20%;">
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"
                                style="padding: 20px 0px 20px 20px;    border-right: 1px solid rgba(222, 222, 222, 0.6);">
                                <div class="row">

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <img *ngIf="commande.offer" class="image_fade" [src]="commande.offer?.image"
                                            style="height: auto; width: 100%;">
                                        <img *ngIf="commande.lubricant" class="image_fade"
                                            [src]="commande.lubricant?.image" style="height: auto; width: 100%;">
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <div class="row" *ngIf="commande.offer" style="margin-bottom: 20px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <span class='itemoffername'>{{commande.offer?.name}}</span>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div *ngIf="commande.offer?.isPromo" class="product-price"
                                                    style="margin: 9px 0px;">
                                                    <span class="price-standard">{{commande.offer?.price}}
                                                        {{parametre.devise}}</span>
                                                    <span class="price-sales">{{commande.offer?.pricePromo}} {{parametre.devise}}</span>

                                                </div>
                                                <div *ngIf="!commande.offer?.isPromo" class="product-price"
                                                    style="margin: 9px 0px;">
                                                    <span class="price-sales">{{commande.offer?.price}} {{parametre.devise}}</span>
                                                </div>
                                                <p class="itemoffername"
                                                    *ngIf="commande.offer.prestations && commande.offer.prestations.length>0">
                                                    Prestations incluses</p>
                                                <p class="nameprestationoffer" style="margin: 0;"
                                                    *ngFor="let prestation of commande.offer.prestations">
                                                    <img class="iconprestation" [src]="prestation.icon">
                                                    {{prestation.name}}<br>
                                                </p>
                                            </div>

                                        </div>
                                        <div class="row" *ngIf="commande.lubricant">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <span class='itemoffername'>{{commande.lubricant?.name}}</span>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div *ngIf="commande.lubricant?.isPromo" class="product-price"
                                                    style="margin: 9px 0px;">
                                                    <span class="price-standard">{{commande.lubricant?.price}}
                                                        {{parametre.devise}}</span>
                                                    <span class="price-sales">{{commande.lubricant?.pricePromo}}
                                                        {{parametre.devise}}</span>

                                                </div>
                                                <div *ngIf="!commande.lubricant?.isPromo" class="product-price"
                                                    style="margin: 9px 0px;">
                                                    <span class="price-sales">{{commande.lubricant?.price}} {{parametre.devise}}</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" style="padding-top: 20px;">
                                <p class='itemoffername'> <i class="fa fa-map-marker icon"
                                        style="    padding-right: 5px;"></i>{{commande.station?.name}}</p>
                                <p class='itemstationaddress'>{{commande.station?.address}}</p>
                                <a href="tel:{{commande.station?.tel}}"  class='itemstationtel'>{{commande.station?.tel}}</a>

                                <p class="itemoffername" style="margin: 0;">{{'Modepaiement' | translate }}</p>
                                <p class="title2">{{'paiementsurplace' | translate }}</p>



                                <p class="itemoffername" style="margin: 0;">{{'Datecommande' | translate }}</p>
                                <p class="title2" style="text-transform: uppercase; ">{{commande.createAt | date:'d MMM
                                    Y h:mm a'}}</p>


                                <p *ngIf="commande.dateOfReceipt" class="itemoffername" style="margin: 0;">Date du
                                    rendez-vous</p>
                                <p *ngIf=" commande.dateOfReceipt " class="title2" style="text-transform: uppercase; ">

                                    <i style="padding-right: 4px;font-size: 17px;"
                                        class="fa fa-calendar"></i>{{commande.dateOfReceipt | date:'d MMM Y '}}
                                    <i style="font-size: 17px;" class="fa fa-clock-o"></i> {{commande.receptionPeriod}}
                                </p>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                style="padding-top: 20px;border-top: 1px solid rgba(222, 222, 222, 0.6);">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                                        <p class='itemoffername' style="color: #ED0000;">{{'quantite' | translate }}: {{commande.quantity}}
                                        </p>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                        <p class='itemoffername' style="color: #ED0000;">{{'montantttc | translate'}}:
                                            {{commande.price}} {{parametre.devise}}</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                style="border-top: 1px solid rgba(222, 222, 222, 0.6);"
                                *ngIf="commande.prestations.length>0">
                                <p class="prestationoffer" style="padding-top: 15px;"
                                    *ngIf="commande && commande?.prestations ">
                                  {{'additionnel' | translate }} :
                                <span class="prestationoffer" style="color: #ED0000;">*</span>
                                </p>
                                <p class="nameprestationoffer" *ngFor="let prestation of commande.prestations "
                                    style="margin: 0;">
                                    <img class="iconprestation" [src]="prestation.icon">

                                    {{prestation.name}}
                                </p>
                                <label class="text" style="font-size: 14px;font-weight: bold;color: #ED0000;"
                                    *ngIf="commande.prestations">
                                    *{{'leprixdesoptions' | translate}}.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
