<div class="row" style="padding-bottom: 10px;margin: 0;border-bottom: 1px solid #DDDDDD;" *ngIf="station">

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5" style="padding-left: 0;padding-right: 0;">
        <img class="image_fade" src="{{station?.image}}"   onError="this.src='/assets/images/station_default.jpeg'"
            style="height: auto; width: 100%;border-radius: 10px;">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="padding-right: 0;">
                <span class='itemstationname'>{{station?.name}}</span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class='itemstationaddress'>{{station?.address}}</span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a href="tel:{{station?.tel}}"  class='itemstationtel'>{{station?.tel}}</a>
            </div>
        </div>
    </div>
</div>