::ng-deep.mat-dialog-content {

    overflow: unset!important;  

}
.ligne{
    background: #DDDDDD;
    border-radius: 2px;
    height: 2px;
    -webkit-background-clip: content-box;
}
::ng-deep .cdk-overlay-pane{
    max-width: 100% !important; 
    width: 50%!important; 
  /*  height: 95%;*/
}
@media (max-width: 600px) {
    ::ng-deep .cdk-overlay-pane{
        width: 90%!important; 
    }
}
::ng-deep .mat-form-field {
    display: block!important; 
}
::ng-deep .mat-form-field.mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {

   caret-color: #374649;
}
.inputModal {
    background-color: #FFFFFF!important; 
    border: 1px solid #DDDDDD!important; 
    box-sizing: border-box!important; 
    border-radius: 10px!important; 
    padding: 20px 16px 20px 16px!important;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: transparent!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    opacity: 0!important;
}
::ng-deep .mat-input-element {
    caret-color: #374649!important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: transparent !important;
}
::ng-deep .mat-form-field-ripple {
    background-color: transparent !important;
}
::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0!important;
}
::ng-deep .mat-error {
    padding: 0px 0px 0px 4px;
    font-size: 12px;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0!important;

}
::ng-deep.mat-form-field-infix {
    padding: 0 0 .8em 0!important;
    border-top: .84375em solid transparent!important;
}
input::-webkit-input-placeholder {/* Chrome/Opera/Safari/Edge */
	/*color: #374649*/
}
.btn-red{
    background: #ED0000;

box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 10px;
width: 100%;
}
.btn-red:disabled{
    background: #b3b3b3;
}
.text-btn-red{
    font-family:  "HelveticaNeueThin_0";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;

/* Secondaire / White */

color: #FFFFFF;
}
.btn-white{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    /* 2-2-4-10% */
    
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
width: 100%;
}
.btn-white:disabled{
    background: #b3b3b3;
}
.text-btn-white{
    font-family:  "HelveticaNeueThin_0";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;

/* Secondaire / White */

color: #ED0000;
}
::ng-deep .mat-dialog-container {
    
    height: auto !important;
 }
.btn.focus .text-btn-red, .btn:focus .text-btn-red, .btn:hover .text-btn-red{
    color: #FFFFFF;
}