<h1 mat-dialog-title class="text-center">
    <div class="row  text-center">
        <span class="titlepagedegrade" style="font-size: 30px !important;">Mot de passe oublié ?</span>

        <button type="button" class="close text-right" style="padding: 12px; " aria-label="Close" (click)="onNoClick()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


</h1>
<div mat-dialog-content>
    <form class="row" [formGroup]="resetForm" (ngSubmit)="onSubmit()">

        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <mat-error *ngIf="error">
                    <span style="font-size: 17px;">{{error}}</span>
                </mat-error>
                <div class="alert alert-success" role="alert" *ngIf="success">
                    <span style="font-size: 17px;">{{success}}</span>
                </div>
            </div>
        </div>



        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <mat-form-field appearance="fill" style="    padding: 0;">

                    <input class='inputModal' matInput placeholder="Email*" id="email" formControlName="email"
                        [ngClass]="{ 'is-invalid': (form.email.touched || form.email.dirty) && form.email.errors}">
                </mat-form-field>
                <mat-error *ngIf="form.email.touched && form.email.errors">
                    <div *ngIf="form.email.errors.required">
                        <i class="fa fa-exclamation-circle mr-1"></i>
                        <span> Veuillez renseigner votre email</span>
                    </div>
                    <div *ngIf="form.email.errors.pattern">
                        <i class="fa fa-exclamation-circle mr-1"></i>
                        <span> Insérer un email valide</span>
                    </div>
                </mat-error>

            </div>
        </div>
        <div class="col-md-12 col-xs-12" style="padding-bottom: 15px;">
            <re-captcha (resolved)="resolved($event)" siteKey="6Lc5D-wUAAAAAG7zVXP608ZJNL0HncaFG7jLsj2v" ></re-captcha>

        </div>
        <div class="col-md-12 col-xs-12" style="    padding-bottom: 20px;">
            <span class="titlepagegris" style='font-size: 16px;line-height: 0;'>Renseignez votre adresse mail utilisé pour
                 un lien de réinistialisation du mot de passe.
            </span>
        </div>
        
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <button class="btn btn-block btn_red" type="submit" style="text-align: center !important;padding: 8px 16px;">
                    <span class="title_btn_red" >
                        Réinitialiser le mot de passe
                    </span>
                </button>
            </div>
        </div>
        
    </form>

</div>
<!--<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="user" cdkFocusInitial>Ok</button>
</div>-->
