<div class="row rowitems">




    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  " style="    padding: 0px!important">
        <div class="row" style="margin: 0;padding-right: 0px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 20px 0px 9px 0!important;">
                <span class="titlepagedegrade">{{'mesrv' | translate}} </span>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  divPrestation" style="    padding: 0px!important">



                <table class="table">
                    <thead>
                        <tr class='trhead'>
                            <th style="width: 20%;" class='thcommande hidden-xs' scope="col">{{'Datecommande' | translate}}</th>
                            <th style="width: 20%;" class='thcommande' scope="col">{{'datedurv' | translate}}</th>

                            <th style="width: 20%;" class='thcommande' scope="col">{{'produitfv' | translate}}</th>
                            <th style="width: 20%;" class='thcommande' scope="col">{{'Station' | translate }}</th>
                            <th style="width: 20%;" class='thcommande' scope="col">{{'Action' | translate}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class='trbody'
                            *ngFor="let commande of rendezvous| paginate: { itemsPerPage:10, currentPage: pr }">
                            <th scope="row " class=" hidden-xs">
                                <p *ngIf="commande.createAt" class="headText" style="color: #374649 ;"><i
                                        style="padding-right: 4px;font-size: 17px;"
                                        class="fa fa-calendar"></i>{{commande.createAt | date:'d MMM Y h:mm a'}}</p>

                            </th>
                            <td>
                                <p *ngIf="commande.dateOfReceipt" class="headText" style="color: #374649 ;"><i
                                        style="padding-right: 4px;font-size: 17px;"
                                        class="fa fa-calendar"></i>{{commande.dateOfReceipt | date:'d MMM Y '}}
                                    <br><i style="font-size: 17px;" class="fa fa-clock-o"></i>
                                    {{commande.receptionPeriod}}
                                </p>



                            </td>
                            <td>

                                <div class=" col-lg-4 col-md-4 col-sm-6  hidden-xs" style="padding-left: 0;">
                                    <img *ngIf="commande.offer" class="image_fade" [src]="commande.offer?.image"
                                        style="height: auto; width: 100%;">
                                    <img class="thhidden" *ngIf="commande.lubricant" class="image_fade"
                                        [src]="commande.lubricant?.image" style="height: auto; width: 100%;">
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" *ngIf="commande.offer"
                                    style="padding: 0;">
                                    <span class='itemoffername hideText'>{{commande.offer?.name}}</span>
                                    <div *ngIf="commande.offer?.isPromo" class="product-price">
                                        <span class="price-standard">{{commande.offer?.price}}
                                            {{parametre.devise}}</span>
                                        <span class="price-sales">{{commande.offer?.pricePromo}} {{parametre.devise}}</span>

                                    </div>
                                    <div *ngIf="!commande.offer?.isPromo" class="product-price">
                                        <span class="price-sales">{{commande.offer?.price}} {{parametre.devise}}</span>
                                    </div>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" style="padding: 0;"
                                    *ngIf="commande.lubricant">
                                    <span class='itemoffername hideText'>{{commande.lubricant?.name}}</span>
                                    <div *ngIf="commande.lubricant?.isPromo" class="product-price"
                                        style="margin: 9px 0px;">
                                        <span class="price-standard">{{commande.lubricant?.price}}
                                            {{parametre.devise}}</span>
                                        <span class="price-sales">{{commande.lubricant?.pricePromo}}
                                            {{parametre.devise}}</span>

                                    </div>
                                    <div *ngIf="!commande.lubricant?.isPromo" class="product-price"
                                        style="margin: 9px 0px;">
                                        <span class="price-sales">{{commande.lubricant?.price}} {{parametre.devise}}</span>
                                    </div>
                                </div>
                            </td>



                            <td>

                                <p class='itemoffername' *ngIf='commande.station && commande.station.name'> <i
                                        class="fa fa-map-marker icon"
                                        style="    padding-right: 5px;"></i>{{commande.station?.name}}</p>
                                <p class='itemstationaddress' *ngIf='commande.station && commande.station.address'>
                                    {{commande.station?.address}}</p>

                                <a href="tel:{{commande.station?.tel}}"      *ngIf='commande.station && commande.station.tel'
                                class='itemstationtel'> {{commande.station?.tel}}</a>

                            </td>
                            <td>
                                <label (click)="openDialogDetails(commande)" class="text"
                                    style="font-size: 14px;font-weight: bold;cursor: pointer;">
                                    <i class="glyphicon glyphicon-plus" style="padding-right: 2px;"></i>{{'details' | translate}}
                                </label><br>
                                <label (click)="updateHoraires(commande)" class="text"
                                    style="font-size: 14px;font-weight: bold;cursor: pointer;">
                                    <img src="/assets/images/ic-disponible.png"> {{'deplacerrv' | translate}}
                                </label>
                                <br>
                                <label class="text"
                                    style="font-size: 14px;font-weight: bold;color: #ed0000;cursor: pointer;"
                                    (click)='annulerCommande(commande)'>
                                    <img src="/assets/images/iconfinder_x.png"> {{'annulerrv' | translate}}
                                </label>
                            </td>

                        </tr>


                    </tbody>
                </table>


            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 20px 0px 9px 0!important;">
                <span class="titlepagedegrade">{{'mescommandes' | translate}} </span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  divPrestation" style="    padding: 0px!important">



                <table class="table">
                    <thead>
                        <tr class='trhead'>
                            <th style="width: 20%;" class='thcommande'  scope="col">{{'Datecommande' | translate}}</th>

                            <th style="width: 20%;" class='thcommande' scope="col">{{'produitfv' | translate}}</th>
                            <th style="width: 20%;" class='thcommande' scope="col">{{'Station' | translate }}</th>
                            <th style="width: 20%;" class='thcommande' scope="col">{{'Action' | translate}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class='trbody'
                            *ngFor="let commande of commandes| paginate: { itemsPerPage:8, currentPage: pc }">
                            <th scope="row ">
                                <p *ngIf="commande.createAt" class="headText" style="color: #374649 ;"><i
                                        style="padding-right: 4px;font-size: 17px;"
                                        class="fa fa-calendar"></i>{{commande.createAt | date:'d MMM Y h:mm a'}}</p>

                            </th>

                            <td>

                                <div class=" col-lg-4 col-md-4 col-sm-6  hidden-xs" style="padding-left: 0;">
                                    <img *ngIf="commande.offer" class="image_fade" [src]="commande.offer?.image"
                                        style="height: auto; width: 100%;">
                                    <img class="thhidden" *ngIf="commande.lubricant" class="image_fade"
                                        [src]="commande.lubricant?.image" style="height: auto; width: 100%;">
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" *ngIf="commande.offer"
                                    style="padding: 0;">
                                    <span class='itemoffername hideText'>{{commande.offer?.name}}</span>
                                    <div *ngIf="commande.offer?.isPromo" class="product-price">
                                        <span class="price-standard">{{commande.offer?.price}}
                                            {{parametre.devise}}</span>
                                        <span class="price-sales">{{commande.offer?.pricePromo}} {{parametre.devise}}</span>

                                    </div>
                                    <div *ngIf="!commande.offer?.isPromo" class="product-price">
                                        <span class="price-sales">{{commande.offer?.price}} {{parametre.devise}}</span>
                                    </div>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" style="padding: 0;"
                                    *ngIf="commande.lubricant">
                                    <span class='itemoffername hideText'>{{commande.lubricant?.name}}</span>
                                    <div *ngIf="commande.lubricant?.isPromo" class="product-price"
                                        style="margin: 9px 0px;">
                                        <span class="price-standard">{{commande.lubricant?.price}}
                                            {{parametre.devise}}</span>
                                        <span class="price-sales">{{commande.lubricant?.pricePromo}}
                                            {{parametre.devise}}</span>

                                    </div>
                                    <div *ngIf="!commande.lubricant?.isPromo" class="product-price"
                                        style="margin: 9px 0px;">
                                        <span class="price-sales">{{commande.lubricant?.price}} {{parametre.devise}}</span>
                                    </div>
                                </div>
                            </td>



                            <td>

                                <p class='itemoffername' *ngIf='commande.station && commande.station.name'> <i
                                        class="fa fa-map-marker icon"
                                        style="    padding-right: 5px;"></i>{{commande.station?.name}}</p>
                                <p class='itemstationaddress' *ngIf='commande.station && commande.station.address'>
                                    {{commande.station?.address}}</p>
                                <p class='itemstationtel' *ngIf='commande.station && commande.station.tel'>
                                    {{commande.station?.tel}}</p>

                            </td>

                            <td>
                                <label (click)="openDialogDetails(commande)" class="text"
                                    style="font-size: 14px;font-weight: bold;cursor: pointer;">
                                    <i class="glyphicon glyphicon-plus" style="padding-right: 2px;"></i>{{'details' | translate}}
                                </label>
                                <br>
                                <label class="text"
                                    style="font-size: 14px;font-weight: bold;color: #ed0000;cursor: pointer;"
                                    (click)='annulerCommande(commande)'>
                                    <img src="/assets/images/iconfinder_x.png"> {{'annulerrv' | translate}}
                                </label>
                            </td>


                        </tr>


                    </tbody>
                </table>


            </div>













            <!-- <div *ngIf="rendezvous.length >8" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right"
                style="padding-top: 58px;">
                <pagination-controls class="paginator" previousLabel="" nextLabel="" (pageChange)="pr = $event">
                </pagination-controls>
            </div>-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 20px 0px 9px 0!important;">
                <span class="titlepagedegrade">{{'histori' | translate}} </span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  divPrestation" style="padding: 0px 22px!important;
            margin-bottom: 20px;">
             <div class="row" style="margin: 0;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  " style="padding: 15px 0;">
                    <span class="badge badge-pill badge-danger" style="background-color: #ED0000;">{{historiquesFiltered.length}} {{'commandes' | translate}} </span>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  " style="    padding: 0;">
                    <input type="search" name="keyword" placeholder="Rechercher..." class="search-input"
                    (keyup)="onKeyupSearch()" [(ngModel)]="search">
                     <i class="fa fa-search icon" style='padding: 10px 5px;color: #ED0000;cursor: pointer;font-size: 18px;'
                           ></i>
                </div>
             </div>



            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  divPrestation" style="    padding: 0px!important">



                <table class="table">
                    <thead>
                        <tr class='trhead'>

                            <th style="width: 20%;" class='thcommande' scope="col">{{'Datecommande' | translate}}</th>
                            <th style="width: 20%;" class='thcommande' scope="col">{{'datedurv' | translate}}</th>

                            <th style="width: 20%;" class='thcommande' scope="col">{{'produitfv' | translate}}</th>
                            <th style="width: 20%;" class='thcommande' scope="col">{{'Station' | translate }}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class='trbody'
                            *ngFor="let commande of historiquesFiltered| paginate: { itemsPerPage:10, currentPage: p }"
                            (click)="openDialogDetails(commande)">
                            <th scope="row ">
                                <p *ngIf="commande.createAt" class="headText" style="color: #374649 ;"><i
                                        style="padding-right: 4px;font-size: 17px;"
                                        class="fa fa-calendar"></i>{{commande.createAt | date:'d MMM Y h:mm a'}}</p>

                            </th>
                            <td>
                                <p *ngIf="commande.dateOfReceipt" class="headText" style="color: #374649 ;"><i
                                        style="padding-right: 4px;font-size: 17px;"
                                        class="fa fa-calendar"></i>{{commande.dateOfReceipt | date:'d MMM Y '}}
                                    <br><i style="font-size: 17px;" class="fa fa-clock-o"></i>
                                    {{commande.receptionPeriod}}
                                </p>



                            </td>
                            <td>

                                <div class=" col-lg-4 col-md-4 col-sm-6  hidden-xs" style="padding-left: 0;">
                                    <img *ngIf="commande.offer" class="image_fade" [src]="commande.offer?.image"
                                        style="height: auto; width: 100%;">
                                    <img class="thhidden" *ngIf="commande.lubricant" class="image_fade"
                                        [src]="commande.lubricant?.image" style="height: auto; width: 100%;">
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" *ngIf="commande.offer"
                                    style="padding: 0;">
                                    <span class='itemoffername hideText'>{{commande.offer?.name}}</span>
                                    <div *ngIf="commande.offer?.isPromo" class="product-price">
                                        <span class="price-standard">{{commande.offer?.price}}
                                            {{parametre.devise}}</span>
                                        <span class="price-sales">{{commande.offer?.pricePromo}} {{parametre.devise}}</span>

                                    </div>
                                    <div *ngIf="!commande.offer?.isPromo" class="product-price">
                                        <span class="price-sales">{{commande.offer?.price}} {{parametre.devise}}</span>
                                    </div>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" style="padding: 0;"
                                    *ngIf="commande.lubricant">
                                    <span class='itemoffername hideText'>{{commande.lubricant?.name}}</span>
                                    <div *ngIf="commande.lubricant?.isPromo" class="product-price"
                                        style="margin: 9px 0px;">
                                        <span class="price-standard">{{commande.lubricant?.price}}
                                            {{parametre.devise}}</span>
                                        <span class="price-sales">{{commande.lubricant?.pricePromo}}
                                            {{parametre.devise}}</span>

                                    </div>
                                    <div *ngIf="!commande.lubricant?.isPromo" class="product-price"
                                        style="margin: 9px 0px;">
                                        <span class="price-sales">{{commande.lubricant?.price}} {{parametre.devise}}</span>
                                    </div>
                                </div>
                            </td>



                            <td>

                                <p class='itemoffername' *ngIf='commande.station && commande.station.name'> <i
                                        class="fa fa-map-marker icon"
                                        style="    padding-right: 5px;"></i>{{commande.station?.name}}</p>
                                <p class='itemstationaddress' *ngIf='commande.station && commande.station.address'>
                                    {{commande.station?.address}}</p>
                                <p class='itemstationtel' *ngIf='commande.station && commande.station.tel'>
                                    {{commande.station?.tel}}</p>

                            </td>


                        </tr>


                    </tbody>
                </table>


            </div>
            <div *ngIf="historiquesFiltered.length >10 " class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right"
                style="padding-top: 58px;">
                <pagination-controls class="paginator" previousLabel="" nextLabel="" (pageChange)="p = $event">
                </pagination-controls>
            </div>
        </div>

    </div>
</div>
