.thcommande{
    font-family: 'Roboto-Bold'!important;
    font-weight: bold!important;
    font-size: 12px!important;
    line-height: 12px!important;
/* identical to box height */

letter-spacing: 1px;

color: #ffffff;
}
.trbody{
    background-color: white;
}
.hideText{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.trhead{
    background: #ED0000;
border-radius: 6px 6px 0px 0px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 14px 5px !important;

}
@media (max-width: 768px) {
    .thhidden {
        display: none;
    }

}
@media (min-width: 769px) {
    

}
@media (min-width: 768px) {
    .rowitems {
        padding-left: 60px;
        padding-right: 60px;
    }
  
}
.paginator{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.paginator /deep/ .ngx-pagination .current {
    background: #ED0000;
    border-radius: 4px;
    padding: 10px 16px;
    margin-left: 4px;
    margin-right: 4px;
}

.paginator /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover {
    background: #d4d4d4;
    border-radius: 3px;
    padding: 10px 16px;
    text-decoration: none;
}

.paginator /deep/ .ngx-pagination a:focus, .ngx-pagination button:focus {
    outline: none;
    background: #d4d4d4;
}
.paginator /deep/ .ngx-pagination a, .ngx-pagination button {
    color: #374649;
    background: #FFFFFF;
    display: block;
    padding: 10px 16px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 4px;
}
.paginator /deep/ .ngx-pagination .disabled {
    padding: 10px 16px;
    border-radius: 4px;
    color: #cacaca;
    cursor: default;
    margin-left: 4px;
    margin-right: 4px;
}