<h1 mat-dialog-title class="text-center">
    <div class="row  text-center">
        <span class="titlepagedegrade" style="font-size: 30px !important;">{{'jaiuncompte' | translate}}</span>
        <button type="button" class="close text-right" style="padding: 12px; " aria-label="Close" (click)="onNoClick()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


</h1>
<div mat-dialog-content>
    <form class="row" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <mat-error *ngIf="error">
                    <span style="font-size: 17px;">{{error}}</span>
                </mat-error>
            </div>
        </div>



        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <mat-form-field appearance="fill" style="    padding: 0;">

                    <input class='inputModal' matInput placeholder="{{'Email' | translate}}*" id="email" formControlName="email"
                        [ngClass]="{ 'is-invalid': (form.email.touched || form.email.dirty) && form.email.errors}">
                </mat-form-field>
                <mat-error *ngIf="form.email.touched && form.email.errors">
                    <div *ngIf="form.email.errors.required">
                        <i class="fa fa-exclamation-circle mr-1"></i>
                        <span> {{'renseignEmail' | translate}}</span>
                    </div>
                    <div *ngIf="form.email.errors.pattern">
                        <i class="fa fa-exclamation-circle mr-1"></i>
                        <span>{{'inseremailvalid' | translate}} </span>
                    </div>
                </mat-error>

            </div>
        </div>


        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <mat-form-field appearance="fill" style="    padding: 0;">
                    <input class='inputModal' type='password' matInput placeholder="{{'password' | translate}}*" id="password" formControlName="password"
                        [ngClass]="{ 'is-invalid':  form.password.touched && form.password.errors}">
                </mat-form-field>
                <mat-error *ngIf="form.password.touched && form.password.errors">
                    <div *ngIf="form.password.errors.required">
                        <i class="fa fa-exclamation-circle mr-1"></i>
                        <span> {{'renseipassword' | translate}}</span>
                    </div>
                    <div *ngIf="form.password.errors.pattern">
                        <i class="fa fa-exclamation-circle mr-1"></i>
                        <span>{{'validpass' |translate}} </span>
                    </div>
                </mat-error>
            </div>
        </div>
        <div class="col-md-12 col-xs-12" style="padding-bottom: 15px;">
            <re-captcha (resolved)="resolved($event)" siteKey="6Lc5D-wUAAAAAG7zVXP608ZJNL0HncaFG7jLsj2v" ></re-captcha>

        </div>
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <button class="btn btn-block btn_red" type="submit" style="text-align: center !important;padding: 8px 16px;">
                    <span class="title_btn_red" >
                      {{'login' |translate}}
                    </span>
                </button>
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <a class="titlepagegris" style='font-size: 16px;' (click)="openDialogResetPassword()">Mot de passe oublié?</a>
        </div>
    </form>
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-12 col-xs-12 ligne">

        </div>
        <div class="col-md-12 col-xs-12 text-center" style="    padding: 24px 0;">
            <span class="titlepagedegrade" style="font-size: 30px !important;">


              {{'createnewaccount' |translate}}
            </span>


        </div>
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <button class="btn btn-block btn_white " (click)="openDialogRegister()" style="text-align: center !important;padding: 8px 16px;">
                    <span class="title_btn_white">
                      {{'register' |translate}}

                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="user" cdkFocusInitial>Ok</button>
</div>-->
