<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<app-navbar  ></app-navbar>
<div class="container main-container headerOffset" >
<router-outlet ></router-outlet>
<div class="cookieinfo"  style="{{classCookies}}position: fixed; left: 0px; right: 0px;
 height: auto; min-height: 21px; z-index: 2147483647; background: rgb(255, 255, 255); color: rgb(102, 102, 102); 
 line-height: 21px; padding: 8px 18px; font-family: verdana, arial, sans-serif; font-size: 14px; text-align: left; 
 bottom: 0px; opacity: 1;">
 <img  style=" width: 104px;"  src="/assets/images/logo.png" alt="TotalEnergies">
 <p class="titre_1_menu" style="font-size: 30px !important;line-height: 34px!important;">Respect de votre vie privée</p>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <p style="color: #374649;font-family: 'ROBOTO-REGULAR';">
                Nous utilisons des cookies et autres traceurs dans le but de vous fournir, 
                d’analyser et d’améliorer votre expérience utilisateur. En cliquant sur le bouton 
                « J’accepte », vous acceptez le dépôt de l’ensemble des cookies. Pour plus d’informations, 
                vous pouvez consulter la page « 
                <a href="https://lubonline.localbeta.ovh/cookies.pdf" style="text-decoration: none; color: #df0c36;" target="_blank">
                    Charte de données personnelles et cookies
                </a>
                 ».
            </p>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <a  class="a_red" style="" (click)='acceptCookies()'>
                <i class="fa fa-caret-right icon"></i>J'accepte
            </a>
           
        </div>
    </div>


    </div>
</div>
<app-footer></app-footer>