<h1 mat-dialog-title class="text-center">
    <div class="row  text-center">
        <span class="titlepagedegrade" style="font-size: 30px !important;">
          {{'createnewaccount' |translate}}

        </span>
        <button type="button" class="close text-right" style="padding: 12px; " aria-label="Close" (click)="onNoClick()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</h1>
<div mat-dialog-content>
    <form class="row" [formGroup]="addUserForm" (ngSubmit)="onSubmit()">


        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <mat-error *ngIf="error">
                    <span style="font-size: 17px;">{{error}}</span>
                </mat-error>
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <input class='inputModal' matInput placeholder="{{'Nomprenom'| translate}}*" id="firstName"
                        formControlName="firstName"
                        [ngClass]="{ 'is-invalid': form.firstName.errors && form.firstName.touched  }">
                </mat-form-field>
                <mat-error *ngIf="form.firstName.errors && form.firstName.touched">
                    <div *ngIf="form.firstName.errors.required">
                        <i class="fa fa-exclamation-circle mr-1"></i>
                        <span>{{'renseignnom' | translate}}</span>
                    </div>
                </mat-error>

            </div>
        </div>




        <!-- <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Prénom*" id="lastName" formControlName="lastName"
                        [ngClass]="{ 'is-invalid': form.lastName.touched && form.lastName.errors }">
                </mat-form-field>
                <mat-error *ngIf="form.lastName.touched && form.lastName.errors">
                    <div *ngIf="form.lastName.errors.required">
                        <i class="fa fa-exclamation-circle mr-1"></i>
                        <span> Veuillez renseigner votre prénom</span>
                    </div>
                </mat-error>
            </div>
        </div>-->




        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <mat-form-field appearance="fill">

                    <input class='inputModal' matInput placeholder="{{'Email' | translate}}*" id="email" formControlName="email"
                        [ngClass]="{ 'is-invalid': form.email.touched && form.email.errors}">
                </mat-form-field>
                <mat-error *ngIf="form.email.touched && form.email.errors">
                    <div *ngIf="form.email.errors.required">
                        <i class="fa fa-exclamation-circle mr-1"></i>
                        <span> {{'renseignEmail' | translate}}</span>
                    </div>
                    <div *ngIf="form.email.errors.pattern">
                        <i class="fa fa-exclamation-circle mr-1"></i>
                        <span>{{'inseremailvalid' | translate}} </span>
                    </div>
                </mat-error>
                <div role="alert" class="mat-error ng-star-inserted" id="mat-error-0"
                    *ngIf="code ==2 && emailUsed == form.email.value">
                    <i class="fa fa-exclamation-circle mr-1"></i>
                    <span>{{'usedmail' | translate}} </span>
                  </div>

            </div>
        </div>


        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <input class='inputModal' type='password' matInput placeholder="{{'password' | translate}}*" id="password"
                        formControlName="password"
                        [ngClass]="{ 'is-invalid':  form.password.touched && form.password.errors}">
                </mat-form-field>
                <mat-error *ngIf="form.password.touched && form.password.errors">
                    <div *ngIf="form.password.errors.required">
                        <i class="fa fa-exclamation-circle mr-1"></i>
                        <span> {{'renseipassword' | translate}}</span>
                    </div>
                    <div *ngIf="form.password.errors.pattern">
                        <i class="fa fa-exclamation-circle mr-1"></i>
                        <span>{{'validpass' |translate}} </span>

                    </div>
                </mat-error>
            </div>
        </div>



        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <input class='inputModal' matInput placeholder="{{'phone' | translate}}*" id="tel" formControlName="tel"
                        [ngClass]="{ 'is-invalid':  form.tel.errors && form.tel.touched}">
                </mat-form-field>
                <mat-error *ngIf="form.tel.errors && form.tel.touched">
                    <div *ngIf="form.tel.errors.required">
                        <i class="fa fa-exclamation-circle mr-1"></i>
                        <span> {{'validephone' | translate}} </span>
                    </div>
                    <div *ngIf="form.tel.errors.pattern">
                        <i class="fa fa-exclamation-circle mr-1"></i>
                        <span>{{'maxphone' | translate}}</span>
                    </div>
                </mat-error>

            </div>
        </div>


        <div class="col-md-12 col-xs-12">
            <div class="form-group" style=" display: flex;align-items: center;">
                <input class='checkbox' type="checkbox" [value]="true" id="acceptSms"
                formControlName="acceptSms" [ngClass]="{ 'is-invalid':  form.acceptSms.errors && form.acceptSms.touched}" />
                <label class="labelCheckbox">

                    {{'accept' | translate }}
                </label>
                <mat-error *ngIf="form.acceptSms.errors && form.acceptSms.touched">


                </mat-error>

            </div>
        </div>



        <div class="col-md-12 col-xs-12">
            <div class="form-group" style=" display: flex;align-items: center;">
                <input class='checkbox' type="checkbox" [value]="true" id="acceptEmail"
                formControlName="acceptEmail" [ngClass]="{ 'is-invalid':  form.acceptEmail.errors && form.acceptEmail.touched}" />
                <label class="labelCheckbox">
                    {{'acceptoffre' | translate }}
                </label>
                <mat-error *ngIf="form.acceptEmail.errors && form.acceptEmail.touched">


                </mat-error>

            </div>
        </div>







        <div class="col-md-12 col-xs-12" style="padding-bottom: 15px;">
            <re-captcha (resolved)="resolved($event)" siteKey="6Lc5D-wUAAAAAG7zVXP608ZJNL0HncaFG7jLsj2v"></re-captcha>

        </div>
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <button class="btn btn-block btn_red" type="submit"
                    style="text-align: center !important;padding: 8px 16px;">
                    <span class="title_btn_red">
                    {{'register' | translate }}

                    </span>
                </button>

            </div>
        </div>
    </form>
    <!--<div class="row" style="padding-top: 20px;">
        <div class="col-md-12 col-xs-12 ligne">

        </div>
        <div class="col-md-12 col-xs-12 text-center" style="    padding: 24px 0;">
            <span class="titlepagegris">{{'jaideja' | translate}} </span><span class="titlepagered">{{'uncompte' | translate}} </span>

        </div>
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <button class="btn btn-white" (click)="openDialogLogin()">
                    <span class="text-btn-white">
                      {{'login' | translate}}
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>-->
    <!--<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="user" cdkFocusInitial>Ok</button>
</div>-->
