<div class="row" style="padding-top: 30px;margin: 0;" *ngIf="offer">

    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-left: 0;">
        <img class="image_fade" [src]="offer?.image"
            style="height: auto; width: 100%;border-radius: 10px;">

    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="padding: 0;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class='itemoffername'>{{offer?.name}}</span>
            </div><br><br>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div *ngIf="offer?.isPromo" class="product-price" style="margin: 9px 0px;">
                    <span class="price-standard">{{offer?.price}} {{parametre.devise}}</span>
                    <span class="price-sales">{{offer?.pricePromo}} {{parametre.devise}}</span>

                </div>
                <div *ngIf="!offer?.isPromo" class="product-price" style="margin: 9px 0px;">
                    <span class="price-sales">{{offer?.price}} {{parametre.devise}}</span>
                </div>
            </div><br><br>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <p class='prestationoffer' *ngIf='offer?.prestations'>  {{'PrestationsIncluses' | translate }} </p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <span class="itemoffername" style="font-size: 12px ;"
                    *ngFor="let prestation of offer?.prestations;let last = last;">
                    <img  class="iconprestation" [src]="prestation.icon">
                    {{prestation.name}} <br>
                </span>

            </div>

        </div>
    </div>

</div>
