.field-title {
    font-family: roboto,noto sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    font-style: normal;
    color: #374649;
}
.img-media{
    padding: 0 15px;
}
.title-footer{
    font-family: roboto,noto sans;
    color: #ed0000;
    font-size: 16px;
    line-height: 45px;
    font-weight: 700;
    text-transform: capitalize;
}
.ul-footer {
    /* margin-bottom: 0; */
    font-family: roboto,noto sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.ul-footer li {
    padding: 0 0 0 21px;
    position: relative;
    margin-bottom: 6px;
}
.links li {
    display: inline-block;
    border-left: 1px solid #374649;
    padding: 0 25px;
    font-family: roboto,noto sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.links li:first-child {
    border-left: none;
}
@media (min-width: 992px) {
    .field-title {
        text-align: right;
        padding: 0 50px 12px 0;

    }
    .div-media{
        text-align: left;
        padding: 0 0px 12px 0;

    }
    .rowfooter {
        padding-left: 60px;
        padding-right: 60px;
    }
    .div-footer {
        text-align: left;
    }
    .ul-footer li:before {
        content: '\25B6';
        height: 22px;
        color: #ed0000;
        width: 0px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
}

@media (max-width: 991px) {
    .links li {
        padding: 0 12px 0 15px;
        margin-bottom: 10px;
    }
    .field-title {
        text-align: center;
    }
    .div-media{
        text-align: center;
    }
    .rowfooter {
        padding-left: 15px;
        padding-right: 15px;
    }
    .div-footer {
        text-align: center;
    }
}