<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" style="padding-top: 20px;background-color: #ffffff;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        style="padding: 20px 0;">



        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center hidden-xs">
                <span class="field-title">{{'followus' | translate }}</span>
                <a class="img-media" href=" https://www.facebook.com/TotalEnergiesTunisie" target="_blank"><img
                    typeof="foaf:Image"
                    src="https://services.totalenergies.tn/sites/g/files/wompnd2266/f/styles/picto/public/facebook_2021.png?itok=jF1C-Fxp"
                    alt="Facebook"></a>



            <a class="img-media" href="https://www.instagram.com/totalenergies_tn/ " target="_blank"><img
                    typeof="foaf:Image"
                    src="https://services.totalenergies.tn/sites/g/files/wompnd2266/f/styles/picto/public/instagram_2021.png?itok=-IqtB9AJ"
                    alt="Instagram"></a>

            </div>


            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 field-title  hidden-lg hidden-md hidden-sm">Suivez-nous</div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 div-media hidden-lg hidden-md hidden-sm">
                <a class="img-media" href=" https://www.facebook.com/TotalEnergiesTunisie" target="_blank"><img
                    typeof="foaf:Image"
                    src="https://services.totalenergies.tn/sites/g/files/wompnd2266/f/styles/picto/public/facebook_2021.png?itok=jF1C-Fxp"
                    alt="Facebook"></a>



            <a class="img-media" href="https://www.instagram.com/totalenergies_tn/ " target="_blank"><img
                    typeof="foaf:Image"
                    src="https://services.totalenergies.tn/sites/g/files/wompnd2266/f/styles/picto/public/instagram_2021.png?itok=-IqtB9AJ"
                    alt="Instagram"></a>

            </div>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!--
    <section class="">
        <div class="container text-center text-md-start mt-5 rowfooter">
            <div class="row mt-3">


                <div class="col-lg-3 col-md-3 col-sm-12  col-xl-12 mx-auto mb-4 div-footer" style="margin: 0 0 37px;">
                    <a class="title-footer" href="https://services.totalenergies.tn/mes-lubrifiants" target="_blank">Mes
                        lubrifiants</a>
                    <ul class="ul-footer">
                        <li><a href="https://services.totalenergies.tn/mes-lubrifiants/agriculture"
                                target="_blank">Agriculture</a></li>
                        <li><a href="https://services.totalenergies.tn/mes-lubrifiants/automobile"
                                target="_blank">Automobile</a></li>
                        <li><a target="_blank"
                                href="https://services.totalenergies.tn/mes-lubrifiants/lub-advisor-choisissez-la-bonne-huile-moteur-pour-votre-vehicule">Lub
                                Advisor</a></li>
                        <li><a href="https://services.totalenergies.tn/mes-lubrifiants/moto-scooter"
                                target="_blank">Moto/ Scooter</a>
                        </li>
                        <li><a href="https://services.totalenergies.tn/mes-lubrifiants/plaisance"
                                target="_blank">Plaisance</a></li>
                        <li><a href="https://services.totalenergies.tn/mes-lubrifiants/transport"
                                target="_blank">Transport</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12  col-xl-12 mx-auto mb-4 div-footer" style="margin: 0 0 37px;">
                    <a class="title-footer" href="https://services.totalenergies.tn/produits-dentretien-auto"
                        target="_blank">Produits d'entretien auto</a>
                    <ul class="ul-footer">
                        <li><a href="https://services.totalenergies.tn/produits-dentretien-auto/maintenance"
                                target="_blank">Maintenance</a></li>
                        <li><a href="https://services.totalenergies.tn/produits-dentretien-auto/fiches-de-donnees-de-securite"
                                target="_blank">Fiches de données de sécurité</a></li>
                        <li><a href="https://services.totalenergies.tn/produits-dentretien-auto/performance"
                                target="_blank">Performance</a></li>
                        <li><a href="https://services.totalenergies.tn/produits-dentretien-auto/gamme-protection-confort-wash"
                                target="_blank">Protection &amp; confort</a></li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12  col-xl-12 mx-auto mb-4 div-footer" style="margin: 0 0 37px;">
                    <a class="title-footer" href="https://services.totalenergies.tn/ma-station-service/stations-service"
                        target="_blank">Ma station service</a>
                    <ul class="ul-footer">
                        <li><a href="https://services.totalenergies.tn/ma-station-service/stations-service"
                                target="_blank">Stations Services</a></li>

                        <li><a href="https://services.totalenergies.tn/ma-station-service/nos-carburants"
                                target="_blank">Nos carburants</a></li>

                        <li><a href="https://services.totalenergies.tn/ma-station-service/prendre-soin-de-ma-voiture"
                                target="_blank">Prendre soin de ma véhicule</a></li>

                        <li><a href="https://services.totalenergies.tn/ma-station-service/ma-pause-gourmande"
                                target="_blank">Ma pause gourmande</a></li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12  col-xl-12 mx-auto mb-4 div-footer" style="margin: 0 0 37px;">
                    <a class="title-footer" href="https://services.totalenergies.tn/ma-carte" target="_blank">Ma
                        carte</a>
                    <ul class="ul-footer">

                        <li><a href="https://services.totalenergies.tn/ma-carte/chatbot-carte" target="_blank">ChatBot
                                Carte</a></li>
                        <li><a href="https://services.totalenergies.tn/ma-carte/demandez-votre-carte-en-2-clics"
                                target="_blank">Demandez votre carte en 2 clics</a></li>
                        <li><a href="https://services.totalenergies.tn/ma-carte/les-avantages-de-totalenergies-card"
                                target="_blank">Les avantages de Carte
                                TotalEnergies</a></li>
                        <li><a href="https://services.totalenergies.tn/ma-carte/nos-solutions" target="_blank">Nos
                                solutions</a></li>



                    </ul>
                </div>
            </div>
        </div>
    </section>

-->


    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5 rowfooter">
            <!-- Grid row -->
            <div class="row mt-3">
                <ul class="links">
                    <li><a href="https://lubonline.localbeta.ovh/ConditionsGeneralesUtilisation.pdf" target="_blank">{{'conditionusing' | translate }}</a></li>
                    <li><a href="https://lubonline.localbeta.ovh/cookies.pdf" target="_blank">{{'donnepersonnel' | translate }}</a></li>
                    <li><a href="https://lubonline.localbeta.ovh/Conditionsgeneralesdevente.pdf" target="_blank">{{'conditionsdevent' | translate }}</a></li>
                    <li><a href="https://services.totalenergies.tn//tous-nos-sites" target="_blank">{{'allsites' | translate }}</a></li>
                    <li><a href="https://services.totalenergies.tn/" target="_blank">© TotalEnergies - 2021</a></li>
                </ul>
            </div>
        </div>
    </section>
</footer>
<!-- Footer -->
