<div class="container" style="margin: 0;">

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 rowleft" style="padding-top: 16px;">
        <div class="row" style="margin: 0;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                style="height: 40px;padding-right: 0px;padding-left: 0px;">
                <span class="titlepagegris">1. </span>
                <span class="titlepagered">  {{'Produitchoisi' | translate }} </span>
                <span class="titleupdate" style="float:right ;line-height: 40px;vertical-align: middle;cursor: pointer;"
                    [routerLink]="['/lubricants']"    >  {{'Modifier' | translate }} </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-right: 0px;padding-left: 0px;">
                <div class="row" style="padding-top: 30px;margin: 0;" *ngIf="lubricant">

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-left: 0px;">
                        <img class="image_fade" [src]="lubricant?.image"
                            style="height: auto; width: 100%;border-radius: 10px;">

                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="padding: 0px;">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class='itemoffername'>{{lubricant?.name}}</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div *ngIf="lubricant?.isPromo" class="product-price" style="margin: 9px 0px;">
                                    <span class="price-standard">{{lubricant?.price}} {{parametre.devise}}</span>
                                    <span class="price-sales">{{lubricant?.pricePromo}} {{parametre.devise}}</span>

                                </div>
                                <div *ngIf="!lubricant?.isPromo" class="product-price" style="margin: 9px 0px;">
                                    <span class="price-sales">{{lubricant?.price}} {{parametre.devise}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

            </div>

        </div>
    </div>




    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 rowright " style="padding-top: 16px;">
        <div class="row" style="margin: 0;padding-right: 0px;padding-left: 0px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding: 0px 0px 19px 0px;">
                <span class="titlepagegris">2. </span>
                <span class="titlepagered">  {{'Lieu' | translate }} </span> <br>
                <span class='itemstationaddress'>  {{'selectstation' | translate }} </span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding: 0;">
                <span *ngIf="stations.length == 0" class="itemVehiculeName">  {{'Aucunestation' | translate }} </span>
            </div>
            <div *ngIf='stations' class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divscroll" style="padding: 0px 0px;">
                <div class="row" *ngFor="let station of stations " style="padding-top: 15px;
                       padding-bottom: 15px;
                       margin: 0;
                       border-bottom: 1px solid #DDDDDD;
                       border-top: 1px solid #DDDDDD;">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5" style="    display: inline-flex;">
                        <img class="image_fade" src="{{station?.image}}"
                            onError="this.src='/assets/images/station_default.jpeg'"
                            style="height: auto; width: 100%;border-radius: 10px;">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8  col-xs-7">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class='itemstationname'>{{station?.name}}</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class='itemstationaddress'>{{station?.address}}</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="tel:{{station?.tel}}"    class='itemstationtel'>{{station?.tel}}</a>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 14px;">

                                <button type="submit" (click)='goToSelectVehicule(station.id)' class="btn btn_card"  style="    width: 100px;"
                                data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                <span class="add2cart">
                                  {{'Choisir' | translate }}

                                </span>
                            </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
