<div class="container" style="margin: 0;">


    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 rowleft" style="padding-top: 16px;">
        <div class="row" style="margin: 0;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                style="height: 50px;padding-right: 0px;padding-left: 0px;padding-top: 10px;" *ngIf="commande.lubricant">
                <span class="titlepagegris">1. </span>
                <span class="titlepagered">  {{'Produitchoisi' | translate }} </span>
                <span class="titleupdate" (click)='goToProducts()'
                    style="float:right ;line-height: 40px;vertical-align: middle;cursor: pointer;"    >  {{'Modifier' | translate }} </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-right: 0px;padding-left: 0px;"
                *ngIf="commande.lubricant">
                <div class="row" style="padding-top: 15px;
                padding-bottom: 15px;
                margin: 0;
                border-bottom: 1px solid #DDDDDD;">

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-left: 0px;">
                        <img class="image_fade" [src]="commande.lubricant?.image"
                            style="height: auto; width: 100%;border-radius: 10px;">
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="padding: 0px;">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class='itemoffername'>{{commande.lubricant?.name}}</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div *ngIf="commande.lubricant?.isPromo" class="product-price" style="margin: 9px 0px;">
                                    <span class="price-standard">{{commande.lubricant?.price}} {{parametre.devise}}</span>
                                    <span class="price-sales">{{commande.lubricant?.pricePromo}} {{parametre.devise}}</span>

                                </div>
                                <div *ngIf="!commande.lubricant?.isPromo" class="product-price"
                                    style="margin: 9px 0px;">
                                    <span class="price-sales">{{commande.lubricant?.price}} {{parametre.devise}}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                style="height: 50px;padding-right: 0px;padding-left: 0px;padding-top: 10px;">
                <span class="titlepagegris">2. </span>
                <span class="titlepagered">  {{'Lieu' | translate }} </span>
                <span class="titleupdate" style="float:right ;line-height: 40px;vertical-align: middle;cursor: pointer;"
                    (click)='back()'    >  {{'Modifier' | translate }} </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-right: 0px;padding-left: 0px;">
                <app-item-station [station]="commande.station"></app-item-station>
            </div>








        </div>





    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 rowright " style="padding-top: 16px;">
        <div class="row" style="margin: 0;padding-right: 0px;">
            <div class="row hidden-xs hidden-sm" style="margin: 0px 0px 8px 0;padding-right: 0px;">
                <span class="lienactive" *ngIf='commande.offer' [routerLink]="['/offers']">  {{'Choisissezoffre' | translate }} </span>

                <span class="lienactive" *ngIf='commande.lubricant' [routerLink]="['/lubricants']">{{'Choisissezleproduit | translate }}</span>
                <span class="lienicon"><i class=" glyphicon  glyphicon-chevron-right"></i></span>


                <span class="lienactive" (click)='back()'>  {{'Choisissezstation' | translate }} </span>
                <span class="lienicon"><i class=" glyphicon  glyphicon-chevron-right"></i></span>



                <span class="lienencours">  {{'Validation' | translate }} </span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  divPrestation" style="padding: 0px 0px;">
                <span class="titlepagered">{{'Résumé' | translate }}</span>

                <div class="row rowmargin">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 headDiv ">

                        <span class="headText" *ngIf='commande.dateOfReceipt'
                            style=" text-transform: uppercase;   float: left;">
                            <i style="font-size: 17px;padding-right: 4px;"
                                class="fa fa-calendar"></i>{{commande.dateOfReceipt | date:'d MMM Y'}}</span>
                        <span class="headText" *ngIf='!commande.dateOfReceipt'
                            style=" text-transform: uppercase;   float: left;">
                            <i style="font-size: 17px;padding-right: 4px;"
                                class="fa fa-calendar"></i>{{commande.createAt | date:'d MMM Y'}}</span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bodyDiv ">


                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-122" style="padding: 20px 0px 20px 20px;">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <img *ngIf="commande.offer" class="image_fade" [src]="commande.offer?.image"
                                            style="height: auto; width: 100%;">
                                        <img *ngIf="commande.lubricant" class="image_fade"
                                            [src]="commande.lubricant?.image" style="height: auto; width: 100%;">
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <div class="row" *ngIf="commande.offer">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <span class='itemoffername'>{{commande.offer?.name}}</span>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div *ngIf="commande.offer?.isPromo" class="product-price"
                                                    style="margin: 9px 0px;">
                                                    <span class="price-sales">{{commande.offer?.pricePromo}} {{parametre.devise}}</span>

                                                </div>
                                                <div *ngIf="!commande.offer?.isPromo" class="product-price"
                                                    style="margin: 9px 0px;">
                                                    <span class="price-sales">{{commande.offer?.price}} {{parametre.devise}}</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" *ngIf="commande.lubricant">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;">
                                                <span class='itemoffername'>{{commande.lubricant?.name}}</span>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;">
                                                <div *ngIf="commande.lubricant?.isPromo" class="product-price"
                                                    style="margin: 9px 0px;">

                                                    <span class="price-sales">{{commande.lubricant?.pricePromo}}
                                                        {{parametre.devise}}</span>

                                                </div>
                                                <div *ngIf="!commande.lubricant?.isPromo" class="product-price"
                                                    style="margin: 9px 0px;">
                                                    <span class="price-sales">{{commande.lubricant?.price}} {{parametre.devise}}</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" style="padding-top: 20px;">
                                <p class='itemoffername'> <i class="fa fa-map-marker icon"
                                        style="    padding-right: 5px;"></i>{{commande.station?.name}}</p>
                                <p class='itemstationaddress'>{{commande.station?.address}}</p>
                                <a href="tel:{{commande.station?.tel}}"  class='itemstationtel'>{{commande.station?.tel}}</a>



                                <p class="itemoffername" style="margin: 0;">Date de la commande</p>
                                <p class="title2" style="text-transform: uppercase; ">{{commande.createAt | date:'d MMM
                                    Y h:mm a'}}</p>



                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                style="padding-top: 20px;border-top: 1px solid rgba(222, 222, 222, 0.6);">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                                        <p class='itemoffername' style="color: #ED0000;">Quantité: {{commande.quantity}}
                                        </p>

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                        <p class='itemoffername' style="color: #ED0000;">Montant Total TTC:
                                            {{commande.price}} {{parametre.devise}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                style="border-top: 1px solid rgba(222, 222, 222, 0.6);"
                                *ngIf="commande.prestations.length>0">
                                <p class="prestationoffer" style="padding-top: 15px;"
                                    *ngIf="commande && commande?.prestations ">
                                    {{'otherprestaprice' | translate}} :
                                <span class="prestationoffer" style="color: #ED0000;">*</span>
                                </p>
                                <p class="nameprestationoffer" *ngFor="let prestation of commande.prestations "
                                    style="margin: 0;">
                                    <img class="iconprestation" [src]="prestation.icon">

                                    {{prestation.name}}
                                </p>
                                <label class="text" style="font-size: 14px;font-weight: bold;color: #ED0000;"
                                    *ngIf="commande.prestations">
                                    *{{'otherprice' | translate}}.
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row rowmargin " style=" display: flex;align-items: center;" *ngIf='commande.station?.file'>
                    <input class='checkbox' type="checkbox" [value]="true" (change)="onCheckboxChange($event)" />
                    <label class="labelCheckbox">


                      {{'accepter' | translate}}
                        <a href='{{commande.station?.filePath}}' target="_blank" style="color: #ED0000;">
                          {{'conditionsdeventes' | translate}}
                        </a>

                    </label>

                </div>
                <div class="row rowmargin " style="">
                    <p class="spanText">Choisir votre mode de paiement</p>

                    <div class=" " style="display: flex;">
                        <label class="radiocontainer spanText">{{'paiementsurplace | translate}}
                            <input type="radio" name="paiement" value="1" checked="checked">
                            <span class="checkmark"></span>
                        </label>

                        <label class="radiocontainer spanText" style="margin-left: 35px;color: #b3b3b3;
                        cursor: no-drop;">{{'paiementonline' | translate}}
                            <input type="radio" name="paiement" value="2" disabled='true'>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md6 col-sm-6 col-xs-6">
                            <button class="btn btn-retour" (click)='back()'>
                                <span class="text-btn-white">
                                  {{'Retour' | translate}}
                                </span>
                            </button>
                        </div>
                        <div class="col-lg-6 col-md6 col-sm-6 col-xs-6 text-right">
                            <button class="btn btn-valider" type="submit"
                                [disabled]='commande.station?.file && !cdtvente' *ngIf='token && userConnected'
                                (click)="submit()">
                                <span class="text-btn-red">
                                  {{'Valider' | translate}}
                                </span>
                            </button>
                            <button class="btn btn-valider" type="submit" *ngIf='!token || !userConnected'
                                (click)="openDialogLogin()">
                                <span class="text-btn-red">
                                  {{'login' | translate}}
                                </span>
                            </button>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
