@media (max-width: 768px) {
    .rowmargin {
        margin: 10px;
    }

}
@media (min-width: 769px) {
    .rowmargin {
        margin: 50px;
    }

}
/* Customize the label (the container) */



.divPrestation{
    background: #FFFFFF;
border: 1px solid #E4E4E4;
box-sizing: border-box;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
border-radius: 4px;
padding: 13px 16px!important;
}
.labelCheckbox{
    font-family: 'ROBOTO-REGULAR';
    color: #374649;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

letter-spacing: 0.1px;
margin: 0px 15px;
}
.checkbox{
    margin: 10px 0px;
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
}
.checkbox:active, .checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.title2{
    font-family:  "ROBOTO-MEDIUM";
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;

letter-spacing: 0.1px;

color: #374649;
order: 1;
flex-grow: 0;
margin:11px ​0px;
}
.checkbox:checked {
	background-color: #ED0000;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #ffffff;

}
.text{
    font-family: 'ROBOTO-LIGHT';
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 15px */


color: #ED0000;
}
.formpresatations {
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 4px;
    padding: 13px 16px;
    margin-top: 13px;
}