::ng-deep  .cdk-overlay-pane{
    max-width: 90%!important; 
    width: 100%!important; 
}
::ng-deep .mat-dialog-container {
    padding: 0!important; 
    border-radius: 6px!important; 
}
::ng-deep .mat-dialog-content{
    margin: 0!important;
    padding: 0px!important;
    max-height: 100%!important;
}
::ng-deep .mat-dialog-container {
    
    height: auto !important;
 }