<div class="container " style="" mat-dialog-content *ngIf="commande">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 headDiv  text-center" style="display: flex; ">
        <p class="headText" style=" font-size: 20px;padding: 12px 0px;margin: 0 auto;">Commande N°{{commande.id}}</p>
        <button type="button" class="close text-right" aria-label="Close" (click)="onNoClick()">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bodyDiv " style="    max-height: 600px;
        overflow: auto;">


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                style="padding-bottom: 20px;border-bottom: 1px solid rgba(222, 222, 222, 0.6);"
                *ngIf='commande.vehicule && commande.vehicule.marque'>
                <app-vehicule-item [vehicule]="commande.vehicule"></app-vehicule-item>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding: 20px 0px 20px 20px;">
                <img *ngIf="commande.qrcode" class="image_fade" onerror="this.style.display='none'"
                    [src]="commande.qrcode" style="background-color: #ffffff;height: auto; width: 15%;">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"
                style="padding: 20px 0px 20px 20px;    border-right: 1px solid rgba(222, 222, 222, 0.6);">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img *ngIf="commande.offer" class="image_fade" [src]="commande.offer?.image"
                            style="background-color: #ffffff;height: auto; width: 100%;">
                        <img *ngIf="commande.lubricant" class="image_fade" [src]="commande.lubricant?.image"
                            style="height: auto; width: 100%;">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="row" *ngIf="commande.offer" style="margin-bottom: 20px;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class='itemoffername'>{{commande.offer?.name}}</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div *ngIf="commande.offer?.isPromo" class="product-price" style="margin: 9px 0px;">
                                    <span class="price-standard">{{commande.offer?.price}}
                                        {{parametre.devise}}</span>
                                    <span class="price-sales">{{commande.offer?.pricePromo}} {{parametre.devise}}</span>

                                </div>
                                <div *ngIf="!commande.offer?.isPromo" class="product-price" style="margin: 9px 0px;">
                                    <span class="price-sales">{{commande.offer?.price}} {{parametre.devise}}</span>
                                </div>
                                <p class="prestationoffer" style="margin: 0;"
                                    *ngIf="commande.offer.prestations && commande.offer.prestations.length>0">
                                    Prestations incluses</p>
                                <p style="margin: 0;" class="nameprestationoffer"
                                    *ngFor="let prestation of commande.offer.prestations">{{prestation.name}}</p>
                            </div>

                        </div>
                        <div class="row" *ngIf="commande.lubricant" style="margin-bottom: 20px;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class='itemoffername'>{{commande.lubricant?.name}}</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div *ngIf="commande.lubricant?.isPromo" class="product-price" style="margin: 9px 0px;">
                                    <span class="price-standard">{{commande.lubricant?.price}}
                                        {{parametre.devise}}</span>
                                    <span class="price-sales">{{commande.lubricant?.pricePromo}}
                                        {{parametre.devise}}</span>

                                </div>
                                <div *ngIf="!commande.lubricant?.isPromo" class="product-price"
                                    style="margin: 9px 0px;">
                                    <span class="price-sales">{{commande.lubricant?.price}} {{parametre.devise}}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding-top: 20px;">
                <p class='itemoffername' *ngIf='commande.station && commande.station.name'> <i class="fa fa-map-marker icon"
                        style="    padding-right: 5px;margin: 0;"></i>{{commande.station?.name}}</p>
                <p class='itemstationaddress' *ngIf='commande.station && commande.station.address'>{{commande.station?.address}}</p>
                <a href="tel:{{commande.station?.tel}}"  *ngIf='commande.station && commande.station.tel'  class='itemstationtel'>{{commande.station?.tel}}</a>

                <p class="itemoffername" style="margin: 0;">Mode de paiement</p>
                <p class="title2">Paiement sur place</p>


                <p class="itemoffername" style="margin: 0;">Date de la commande</p>
                <p class="title2" style="text-transform: uppercase; ">{{commande!.createAt | date:'d MMM Y h:mm a'}}</p>


                <p *ngIf="commande!.dateOfReceipt" class="itemoffername" style="margin: 0;">Date du rendez-vous</p>
                <p *ngIf="commande!.dateOfReceipt" class="title2" style="text-transform: uppercase; ">

                    <i style="padding-right: 4px;font-size: 17px;" class="fa fa-calendar"></i>{{commande!.dateOfReceipt
                    | date:'d MMM Y'}}
                    <i style="font-size: 17px;" class="fa fa-clock-o"></i> {{commande.receptionPeriod}}
                </p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                style="padding-top: 20px;border-top: 1px solid rgba(222, 222, 222, 0.6);">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                        <p class='itemoffername' style="color: #ED0000;">Quantité: {{commande.quantity}}</p>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                        <p class='itemoffername' style="color: #ED0000;">Montant Total TTC: {{commande.price}}{{parametre.devise}}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-top: 1px solid rgba(222, 222, 222, 0.6);"
                *ngIf="commande.prestations.length>0">
                <p class="prestationoffer" style="padding-top: 15px;" *ngIf="commande && commande?.prestations ">
                    Prestations additionnelles non incluses, prix à définir sur place :
                <span class="prestationoffer" style="color: #ED0000;">*</span>
                </p>
                <p class="nameprestationoffer" *ngFor="let prestation of commande.prestations " style="margin: 0;">
                    <img class="iconprestation" [src]="prestation.icon">

                    {{prestation.name}}
                </p>
                <label class="text" style="font-size: 14px;font-weight: bold;    color: #ED0000;"
                    *ngIf="commande.prestations">
                    *Le prix de ces options n'est pas compris dans l'offre choisie et sera payé en sus sur
                    place.
                </label>
            </div>
        </div>
    </div>