<div class="row" style="padding-top: 15px;
padding-bottom: 15px;
margin: 0;
border-bottom: 1px solid #DDDDDD;
border-top: 1px solid #DDDDDD;" *ngIf="station">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="    display: inline-flex;">
        <img class="image_fade" src="{{station?.image}}"   onError="this.src='/assets/images/station_default.jpeg'"
            style="height: auto; width: 100%;border-radius: 10px;">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="    padding-left: 30px;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class='itemstationname'>{{station?.name}}</span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class='itemstationaddress'>{{station?.address}}</span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a href="tel:{{station?.tel}}"  class='itemstationtel'>{{station?.tel}}</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="    padding-left: 0px;">

    <button class="btn btn-red" style="padding: 5px 18px;" type="submit"  (click)='goToStation(station.id)' >
        <span class="text-btn-red">
            Valider
        </span>
    </button>
    </div>
</div>
