@media (max-width: 768px) {
    .rowitems {
        padding-left: 32px;
        padding-right: 32px;
    }
   
}
@media (min-width: 992px) {

    .rowright {
        height: 100vh;
    }
}

@media (max-width: 991px) {
   
    .container{
        padding-right: 0px;
        padding-left: 0px;
    }
}
.alternative{
    background: #374649 ;
}