<div class="container" style="margin: 0;">


    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 rowleft" style="padding-top: 16px;">
        <div class="row" style="margin: 0;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                style="height: 40px;padding-right: 0px;padding-left: 0px;">
                <span class="titlepagegris">1. </span>
                <span class="titlepagered">  {{'Vehicule' | translate }} </span>
                <span class="titleupdate" style="float:right ;line-height: 40px;vertical-align: middle;cursor: pointer;"
                    [routerLink]="['/']"    >  {{'Modifier' | translate }} </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-right: 0px;padding-left: 0px;">
                <app-vehicule-item [vehicule]="vehicule"></app-vehicule-item>
            </div>
            <div class="row" style="margin: 0; ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "
                    style="height: 50px;padding-right: 0px;padding-left: 0px;margin-top: 10px;border-top: 1px solid #DDDDDD;">
                    <span class="titlepagegris">2. </span>
                    <span class="titlepagered">  {{'Lieu' | translate }} </span>
                    <span class="titleupdate"
                        style="float:right ;line-height: 40px;vertical-align: middle;cursor: pointer;"
                        (click)='back()'    >  {{'Modifier' | translate }} </span>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-right: 0px;padding-left: 0px;">
                    <app-item-station [station]="station"></app-item-station>
                </div>
            </div>



        </div>





    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 rowright divscroll " style="padding-top: 16px;">
        <div class="row hidden-xs hidden-sm" style="margin: 0px 0px 8px 0;padding-right: 0px;">
            <span class="lienactive" (click)='back()'>  {{'Choisissezstation' | translate }} </span>
            <span class="lienicon"><i class=" glyphicon  glyphicon-chevron-right"></i></span>
            <span class="lienencours">  {{'Choisissezoffre' | translate }} </span>
            <span class="lienicon"><i class=" glyphicon  glyphicon-chevron-right"></i></span>
            <span class="liendeactiver">  {{'Prestations' | translate }} </span>
            <span class="lienicon"><i class=" glyphicon  glyphicon-chevron-right"></i></span>
            <span class="liendeactiver">  {{'Horaires' | translate }} </span>
            <span class="lienicon"><i class=" glyphicon  glyphicon-chevron-right"></i></span>
            <span class="liendeactiver">  {{'Validation' | translate }} </span>
        </div>
        <div class="row" style="margin: 0;padding-right: 0px;" *ngIf="resultList">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding: 10px 0px 19px 0px">
                <span class="titlepagedegrade" style="font-size: 30px!important;"> {{'Nosoffresdisponibles' | translate }} </span>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding: 0px 0px;">
                <div class="row">
                    <!--offres recommandées-->
                    <div *ngFor="let offer of resultList['recommendedOffers'] "
                        class=" col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 4px;">
                        <div class="product">
                            <div class="image">


                                <img data-original="/assets/images/logo.png" src="{{offer.image}}" alt="img"
                                    class="imagecarousseloffer">

                                <div class="promotion">
                                    <span class="discount" style="font-weight: 400;"> {{'Huilerecommanded' | translate }}
                                    </span>
                                </div>
                            </div>
                            <div class="line_gradient">

                            </div>
                            <div class="description product_title">
                                {{offer.name}}
                            </div>

                            <div class="row" style="padding: 0px 4px 4px;">
                                <div class="col-lg-6 col-md-5 col-xs-12 col-sm-6" style="padding-right: 0px;">
                                    <div *ngIf="offer.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">


                                        <span class="old-price" style="float:left">
                                            {{offer.price}} {{parametre.devise}}
                                        </span><br>
                                        <span style="float:left"> {{offer.pricePromo}} {{parametre.devise}}</span>


                                    </div>
                                    <div *ngIf="!offer.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">

                                        <span style="float:left" class="price-without-promo"> {{offer.price}} {{parametre.devise}}</span>

                                    </div>
                                </div>
                                <div class="div_card col-lg-6 col-md-7 col-xs-12 col-sm-6 padding_btn_acheter text-right"
                                    style="margin-top: 6px;">

                                    <div class="" id="addcart" name="addcart">



                                        <button type="submit" class="btn_card" (click)='goToPrestationOffer(offer)'
                                            data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                            <span class="add2cart">
                                              {{'Acheter' | translate }}
                                            </span>
                                        </button>




                                    </div>
                                </div>

                            </div>


                        </div>


                    </div>





                    <!--offres alternatives-->
                    <div *ngFor="let offer of resultList['alternativeOffers'] "
                        class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 4px;">

                        <div class="product">
                            <div class="image">


                                <img data-original="/assets/images/logo.png" src="{{offer.image}}" alt="img"
                                    class="imagecarousseloffer">

                                <div class="promotion">
                                    <span class="discount alternative" style="font-weight: 400;">{{'otherHuilerealter' | translate }}
                                    </span>
                                </div>
                            </div>
                            <div class="line_gradient">

                            </div>
                            <div class="description product_title">
                                {{offer.name}}
                            </div>

                            <div class="row" style="padding: 0px 4px 4px;">
                                <div class="col-lg-6 col-md-5 col-xs-12 col-sm-6" style="padding-right: 0px;">
                                    <div *ngIf="offer.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">


                                        <span class="old-price" style="float:left">
                                            {{offer.price}} {{parametre.devise}}
                                        </span><br>
                                        <span style="float:left"> {{offer.pricePromo}} {{parametre.devise}}</span>


                                    </div>
                                    <div *ngIf="!offer.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">

                                        <span style="float:left" class="price-without-promo"> {{offer.price}} {{parametre.devise}}</span>

                                    </div>
                                </div>
                                <div class="div_card col-lg-6 col-md-7 col-xs-12 col-sm-6 padding_btn_acheter text-right"
                                    style="margin-top: 6px;">

                                    <div class="" id="addcart" name="addcart">



                                        <button type="submit" class="btn_card" (click)='goToPrestationOffer(offer)'
                                            data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                            <span class="add2cart">
                                              {{'Acheter' | translate }}
                                            </span>
                                        </button>




                                    </div>
                                </div>

                            </div>


                        </div>


                    </div>



                    <!-- Autre offres recommandées-->
                    <div *ngFor="let offer of resultList['defaultrecommendedOffers'] "
                        class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 4px;">

                        <div class="product">
                            <div class="image">


                                <img data-original="/assets/images/logo.png" src="{{offer.image}}" alt="img"
                                    class="imagecarousseloffer">

                                <div class="promotion">
                                    <span class="discount " style="font-weight: 400;background: #7098A7;">{{'otherHuilerecommanded' | translate }}
                                    </span>
                                </div>
                            </div>
                            <div class="line_gradient">

                            </div>
                            <div class="description product_title">
                                {{offer.name}}
                            </div>

                            <div class="row" style="padding: 0px 4px 4px;">
                                <div class="col-lg-6 col-md-5 col-xs-12 col-sm-6" style="padding-right: 0px;">
                                    <div *ngIf="offer.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">


                                        <span class="old-price" style="float:left">
                                            {{offer.price}} {{parametre.devise}}
                                        </span><br>
                                        <span style="float:left"> {{offer.pricePromo}} {{parametre.devise}}</span>


                                    </div>
                                    <div *ngIf="!offer.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">

                                        <span style="float:left" class="price-without-promo"> {{offer.price}} {{parametre.devise}}</span>

                                    </div>
                                </div>
                                <div class="div_card col-lg-6 col-md-7 col-xs-12 col-sm-6 padding_btn_acheter text-right"
                                    style="margin-top: 6px;">

                                    <div class="" id="addcart" name="addcart">



                                        <button type="submit" class="btn_card" (click)='goToPrestationOffer(offer)'
                                            data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                            <span class="add2cart">
                                              {{'Acheter' | translate }}
                                            </span>
                                        </button>




                                    </div>
                                </div>

                            </div>


                        </div>


                    </div>


                    <!-- Autre offres alternatives-->
                    <div *ngFor="let offer of resultList['defaultalternativeOffers'] "
                        class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 4px;">

                        <div class="product">
                            <div class="image">


                                <img data-original="/assets/images/logo.png" src="{{offer.image}}" alt="img"
                                    class="imagecarousseloffer">

                                <div class="promotion">
                                    <span class="discount " style="font-weight: 400;background: #7098A7;">{{'Huilerealter' | translate }}
                                    </span>
                                </div>
                            </div>
                            <div class="line_gradient">

                            </div>
                            <div class="description product_title">
                                {{offer.name}}
                            </div>

                            <div class="row" style="padding: 0px 4px 4px;">
                                <div class="col-lg-6 col-md-5 col-xs-12 col-sm-6" style="padding-right: 0px;">
                                    <div *ngIf="offer.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">


                                        <span class="old-price" style="float:left">
                                            {{offer.price}} {{parametre.devise}}
                                        </span><br>
                                        <span style="float:left"> {{offer.pricePromo}} {{parametre.devise}}</span>


                                    </div>
                                    <div *ngIf="!offer.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">

                                        <span style="float:left" class="price-without-promo"> {{offer.price}} {{parametre.devise}}</span>

                                    </div>
                                </div>
                                <div class="div_card col-lg-6 col-md-7 col-xs-12 col-sm-6 padding_btn_acheter text-right"
                                    style="margin-top: 6px;">

                                    <div class="" id="addcart" name="addcart">



                                        <button type="submit" class="btn_card" (click)='goToPrestationOffer(offer)'
                                            data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                            <span class="add2cart">
                                              {{'Acheter' | translate }}
                                            </span>
                                        </button>




                                    </div>
                                </div>

                            </div>


                        </div>


                    </div>
                </div>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding: 0;">
                <span *ngIf="resultList['recommendedOffers'].length == 0 && resultList['alternativeOffers'].length ==0
                && resultList['defaultrecommendedOffers'].length ==0 && resultList['defaultalternativeOffers'].length ==0"
                    class="itemVehiculeName">{{'aucun' | translate }}</span>
            </div>
        </div>
        <div class="row" style="margin: 0;padding-right: 0px;padding-left: 0px;" *ngIf="resultList">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding: 0px 0px 19px 0px;">
                <span class="titlepagedegrade" style="font-size: 30px!important;">{{'nosproduits' | translate }}</span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding: 0px 0px;">




                <div class="row">
                    <!--produits recommandés-->
                    <div *ngFor="let lubricant of resultList['recommendedProducts'] "
                        class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 4px;">
                        <div class="product">
                            <div class="image">


                                <img data-original="/assets/images/logo.png" src="{{lubricant.image}}"
                                    (error)="onImgError($event)" alt="img" class="imagecaroussel">

                                <div class="promotion">
                                    <span class="discount" style="font-weight: 400;">{{'Huilerecommanded' | translate }}
                                    </span>
                                </div>
                            </div>
                            <div class="line_gradient">

                            </div>
                            <div class="description product_title">
                                {{lubricant.name}}
                            </div>

                            <div class="row" style="padding: 0px 4px 4px;">
                                <div class="col-lg-6 col-md-5 col-xs-12 col-sm-6" style="padding-right: 0px;">
                                    <div *ngIf="lubricant.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">



                                        <span class="old-price" style="float:left">
                                            {{lubricant.price}} {{parametre.devise}}
                                        </span>
                                        <br>
                                        <span style="float:left"> {{lubricant.pricePromo}} {{parametre.devise}}</span>

                                    </div>
                                    <div *ngIf="!lubricant.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">

                                        <span style="float:left" class="price-without-promo"> {{lubricant.price}}
                                            {{parametre.devise}}</span>

                                    </div>
                                </div>
                                <div class="div_card col-lg-6 col-md-7 col-xs-12 col-sm-6  padding_btn_acheter text-right"
                                    style="margin-top: 6px;">

                                    <div class="" id="addcart" name="addcart">



                                        <button type="submit" class="btn_card"
                                            (click)='goToPrestationLubricant(lubricant)'
                                            data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                            <span class="add2cart">
                                              {{'Acheter' | translate }}
                                            </span>
                                        </button>




                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                    <!--produits alernatives-->
                    <div *ngFor="let lubricant of resultList['alternativeProducts'] "
                        class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 4px;">
                        <div class="product">
                            <div class="image">


                                <img data-original="/assets/images/logo.png" src="{{lubricant.image}}"
                                    (error)="onImgError($event)" alt="img" class="imagecaroussel">

                                <div class="promotion">
                                    <span class="discount alternative" style="font-weight: 400;">{{'Huilerealter' | translate }}
                                    </span>
                                </div>
                            </div>
                            <div class="line_gradient">

                            </div>
                            <div class="description product_title">
                                {{lubricant.name}}
                            </div>

                            <div class="row" style="padding: 0px 4px 4px;">
                                <div class="col-lg-6 col-md-5 col-xs-12 col-sm-6" style="padding-right: 0px;">
                                    <div *ngIf="lubricant.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">


                                        <span class="old-price" style="float:left">
                                            {{lubricant.price}} {{parametre.devise}}
                                        </span><br>
                                        <span style="float:left"> {{lubricant.pricePromo}} {{parametre.devise}}</span>


                                    </div>
                                    <div *ngIf="!lubricant.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">

                                        <span style="float:left" class="price-without-promo"> {{lubricant.price}}
                                            {{parametre.devise}}</span>

                                    </div>
                                </div>
                                <div class="div_card col-lg-6 col-md-7 col-xs-12 col-sm-6  padding_btn_acheter  text-right"
                                    style="margin-top: 6px;">

                                    <div class="" id="addcart" name="addcart">



                                        <button type="submit" class="btn_card"
                                            (click)='goToPrestationLubricant(lubricant)'
                                            data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                            <span class="add2cart">
                                              {{'Acheter' | translate }}
                                            </span>
                                        </button>




                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                    <!--produits defaut  recommandés-->
                    <div *ngFor="let lubricant of resultList['defaultrecommendedProducts'] "
                        class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 4px;">
                        <div class="product">
                            <div class="image">


                                <img data-original="/assets/images/logo.png" src="{{lubricant.image}}"
                                    (error)="onImgError($event)" alt="img" class="imagecaroussel">

                                <div class="promotion">
                                    <span class="discount " style="font-weight: 400;background: #7098A7;">
                                      {{'otherHuilerecommanded' | translate }}

                                    </span>
                                </div>
                            </div>
                            <div class="line_gradient">

                            </div>
                            <div class="description product_title">
                                {{lubricant.name}}
                            </div>

                            <div class="row" style="padding: 0px 4px 4px;">
                                <div class="col-lg-6 col-md-5 col-xs-12 col-sm-6" style="padding-right: 0px;">
                                    <div *ngIf="lubricant.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">



                                        <span class="old-price" style="float:left">
                                            {{lubricant.price}} {{parametre.devise}}
                                        </span><br>
                                        <span style="float:left"> {{lubricant.pricePromo}} {{parametre.devise}}</span>

                                    </div>
                                    <div *ngIf="!lubricant.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">

                                        <span style="float:left" class="price-without-promo"> {{lubricant.price}}
                                            {{parametre.devise}}</span>

                                    </div>
                                </div>
                                <div class="div_card col-lg-6 col-md-7 col-xs-12 col-sm-6  padding_btn_acheter text-right"
                                    style="margin-top: 6px;">

                                    <div class="" id="addcart" name="addcart">



                                        <button type="submit" class="btn_card"
                                            (click)='goToPrestationLubricant(lubricant)'
                                            data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                            <span class="add2cart">
                                              {{'Acheter' | translate }}
                                            </span>
                                        </button>




                                    </div>
                                </div>

                            </div>


                        </div>












                    </div>



                    <!--produits default alernatives-->
                    <div *ngFor="let lubricant of resultList['defaultalternativeProducts'] "
                        class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 4px;">
                        <div class="product">
                            <div class="image">


                                <img data-original="/assets/images/logo.png" src="{{lubricant.image}}"
                                    (error)="onImgError($event)" alt="img" class="imagecaroussel">

                                <div class="promotion">
                                    <span class="discount " style="font-weight: 400;background: #7098A7;">
                                      {{'otherHuilerealter' | translate }}
                                    </span>
                                </div>
                            </div>
                            <div class="line_gradient">

                            </div>
                            <div class="description product_title">
                                {{lubricant.name}}
                            </div>

                            <div class="row" style="padding: 0px 4px 4px;">
                                <div class="col-lg-6 col-md-5 col-xs-12 col-sm-6" style="padding-right: 0px;">
                                    <div *ngIf="lubricant.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">


                                        <span class="old-price" style="float:left">
                                            {{lubricant.price}} {{parametre.devise}}
                                        </span><br>
                                        <span style="float:left"> {{lubricant.pricePromo}} {{parametre.devise}}</span>


                                    </div>
                                    <div *ngIf="!lubricant.isPromo" class=" price div_card"
                                        style="padding-left: 8px;padding-top: 4px; padding-bottom: 22px;">

                                        <span style="float:left" class="price-without-promo"> {{lubricant.price}}
                                            {{parametre.devise}}</span>

                                    </div>
                                </div>
                                <div class="div_card col-lg-6 col-md-7 col-xs-12 col-sm-6  padding_btn_acheter text-right"
                                    style="margin-top: 6px;">

                                    <div class="" id="addcart" name="addcart">



                                        <button type="submit" class="btn_card"
                                            (click)='goToPrestationLubricant(lubricant)'
                                            data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                            <span class="add2cart">
                                              {{'Acheter' | translate }}

                                            </span>
                                        </button>




                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>




                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding: 0;">
                <span
                    *ngIf="resultList['recommendedProducts'].length == 0 && resultList['alternativeProducts'].length ==0
                    && resultList['defaultrecommendedProducts'].length ==0 && resultList['defaultalternativeProducts'].length ==0"
                    class="itemVehiculeName">                                      {{'aucunproduit' | translate }}
                  </span>
            </div>
        </div>
    </div>
</div>
