
.entry-image, .entry-image > a, .entry-image .slide a, .entry-image img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
.entry-image img {
    border-radius: 3px;
}

.entry-image, .entry-image > a, .entry-image .slide a, .entry-image img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;

}
.headerOffset {
    background: #ffffff!important;
}
@media (max-width: 767px) {
    .rowitems {
        background: #ffffff;
    }
    .detaillubricant{
        padding: 0;
    }
    .btn_red{
        margin-bottom: 15px;
    }
    .divbtn{
        padding: 0 ;
    }
}
@media (min-width: 768px) {
    .rowitems {
        background: #ffffff;
        padding: 40px 73px;
    }
    .detaillubricant{
        padding: 0 0 0 50px;
    }

    .divbtn{
        padding: 0 0 0 9px;
    }
}

.btnplus{
    border: 1px solid #E2E2E2;
    /* box-sizing: border-box; */
    border-radius: 10px;
    padding:13px 12px 13px 12px;
    /* height: 45px; */
    color: #ED0000;
    cursor: pointer;
}
.btnminus{
    border: 1px solid #E2E2E2;
    /* box-sizing: border-box; */
    border-radius: 10px;
    padding:13px 12px 13px 12px;
    color: #B3B3B3;
    cursor: pointer;
}
.labelquantity{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #181725;
    padding: 0 17px;
}
.titleproduct{
    font-family: oswald;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 26px;
    color: #ED0000;
}
