/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family:  "ROBOTO-REGULAR", sans-serif; }
@font-face {
    font-family: "HelveticaNeueW02-77BdCn";
    src: local("HelveticaNeueW02-77BdCn"), url(./assets/fonts/Helvetica/HelveticaNeueW0277BdCn.ttf) format("woff2");
    font-display: block;

}
@font-face {
    font-family: "HelveticaLT67MediumCondensed";
    src: local("HelveticaLT67MediumCondensed"), url(./assets/fonts/Helvetica/HelveticaLT67MediumCondensed.ttf) format("woff2");
    font-display: block;

}
@font-face {
    font-family: "HelveticaNeueIt_0";
    src: local("HelveticaNeueIt_0"), url(./assets/fonts/Helvetica/HelveticaNeueIt_0.ttf) format("woff2");
    font-display: block;

}
@font-face {
    font-family: "HelveticaNeueThin_0";
    src: local("HelveticaNeueThin_0"), url(./assets/fonts/Helvetica/HelveticaNeueThin_0.ttf) format("woff2");
    font-display: block;

}
@font-face {
    font-family: "ROBOTO-THIN";
    src: local("ROBOTO-THIN"), url(./assets/fonts/ROBOTO/ROBOTO-THIN.TTF) format("woff2");
    font-display: block;

}
@font-face {
    font-family: "ROBOTO-LIGHT";
    src: local("ROBOTO-LIGHT"), url(./assets/fonts/ROBOTO/ROBOTO-LIGHT.TTF) format("woff2");
    font-display: block;

}

@font-face {
    font-family: "ROBOTO-BLACK";
    src: local("ROBOTO-BLACK"), url(./assets/fonts/ROBOTO/ROBOTO-BLACK.TTF) format("woff2");
    font-display: block;

}
@font-face {
    font-family: "Roboto-Bold";
    src: local("Roboto-Bold"), url(./assets/fonts/ROBOTO/Roboto-Bold.ttf) format("woff2");
    font-display: block;

}
@font-face {
    font-family: "ROBOTO-REGULAR";
    src: local("ROBOTO-REGULAR"), url(./assets/fonts/ROBOTO/ROBOTO-REGULAR.TTF) format("woff2");
    font-display: block;

}
@font-face {
    font-family: "ROBOTO-MEDIUM";
    src: local("ROBOTO-REGULAR"), url(./assets/fonts/ROBOTO/ROBOTO-MEDIUM.TTF) format("woff2");
    font-display: block;

}
html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
  }