<div class="row rowitems" *ngIf="lubricant">

    <!-- left column -->

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " style="padding: 25px 0px;">

        <div class="entry-image  ">
            <a data-lightbox="image">
                <img class="image_fade" [src]="lubricant?.image" (error)="onImgError($event)"
                    style="opacity: 1;">
            </a>

        </div>
    </div>

    <!-- right column -->
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 detaillubricant" style="    padding-top: 5px;">
        <div class="product-details-info-wrapper">


            <!-- productFilter -->

            <div class="product-details-product-color row" style="">
                <div class="col-lg-12 col-md-12 col-xs-12" style="padding-left: 0;    padding-right: 0;">
                    <div class="container">
                        <div class="col-lg-12 col-md-12 col-xs-12" style="padding: 0;">
                            <h2 class="titlepagedegrade" style="font-size: 32px!important;">{{lubricant?.name}}</h2>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-6" style="padding-left: 0;">
                            <span class="text_details">{{'Prix' | translate }}:</span>
                            <div *ngIf="lubricant?.isPromo" class="product-price" style="margin-top: 10px;" >
                                <span class="price-sales" style="font-size: 18px;">{{lubricant?.pricePromo}} {{parametre.devise}}</span>
                                <span class="price-standard" style="font-size: 14px;padding: 0px 8px;">{{lubricant?.price}} {{parametre.devise}}</span>

                            </div>

                            <div *ngIf="!lubricant?.isPromo" class="product-price" style="margin-top: 10px;">
                                <span class="price-sales" style="font-size: 18px;padding-left: 0px;">{{lubricant?.price}} {{parametre.devise}}</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-6" style="padding-left: 0;">

                            <div class=" row " style="padding-right: 0;float: right;">
                                <p class="text_details text-left">{{'Qte' | translate }}:</p>
                                <span style="display: inline-flex !important;" class="btnminus" (click)="onClickMinus()"><i
                                        class="glyphicon glyphicon-minus"></i></span>
                                <label style="display: inline-flex !important;" class="input-text labelquantity text" id="quantity" name="quantity" value="1"
                                    title="Qty">{{quantity}}</label>
                                <span style="display: inline-flex !important;" class="btnplus" (click)="onClickPlus()"><i class="glyphicon glyphicon-plus"></i></span>
                            </div>
                        </div>


                    </div>



                </div>
                <div class="col-lg-12 col-md-12 col-xs-12" style="padding: 20px 0px 0px 0px;">
                    <div class="container ">
                        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="    padding: 0;" >
                            <button class="btn btn-block btn_red" (click)='goToStations()'>
                                <span class="title_btn_red">
                                    <svg   class="svg_red" width="27" height="27" viewBox="0 0 30 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                        <path d="M1.7874 4.28418V7.20918H0.399902V18.9092H19.8249V17.4467H21.2124H22.5999V5.74668V4.28418H3.1749H1.7874ZM10.1124 15.9842C8.57922 15.9842 7.3374 14.6752 7.3374 13.0592C7.3374 11.4431 8.57922 10.1342 10.1124 10.1342C11.6456 10.1342 12.8874 11.4431 12.8874 13.0592C12.8874 14.6752 11.6456 15.9842 10.1124 15.9842ZM21.2124 15.9842H19.8249V7.20918H3.1749V5.74668H21.2124V15.9842Z"
                                        fill="#ffffff"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0">
                                        <rect width="22.2" height="23.4" fill="white" transform="translate(0.399902 0.384155)"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                        {{'Acheteretrécupérerenstation' | translate }}</span>

                            </button>
                        </div>
                        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 "  style="padding: 20px 0px 0px 0px;">
                            <button class="btn btn-block btn_white text-center"  (click)='goToSelectStation()'style="display: inline-flex;"  >


                                <span class="title_btn_white">
                                    <svg class="svg_white" style="width: 26px; margin: 0px 5px -3px 0px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                        <path fill='#ED0000' d="M629.8 160.31L416 224l-50.49-25.24a64.07 64.07 0 0 0-28.62-6.76H280v-48h56c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16H176c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16h56v48h-56L37.72 166.86a31.9 31.9 0 0 0-5.79-.53C14.67 166.33 0 180.36 0 198.34v94.95c0 15.46 11.06 28.72 26.28 31.48L96 337.46V384c0 17.67 14.33 32 32 32h274.63c8.55 0 16.75-3.42 22.76-9.51l212.26-214.75c1.5-1.5 2.34-3.54 2.34-5.66V168c.01-5.31-5.08-9.15-10.19-7.69zM96 288.67l-48-8.73v-62.43l48 8.73v62.43zm453.33 84.66c0 23.56 19.1 42.67 42.67 42.67s42.67-19.1 42.67-42.67S592 288 592 288s-42.67 61.77-42.67 85.33z"/>
                                      </svg>
                                      {{'Acheteretréservervotrevidange' | translate }}
                                </span>

                            </button>
                        </div>

                    </div>
                    <!--  <div class="container">
                        <button class="btn btn-block btn_white text-center"  style=""  >
                            <div style="display: inline-flex;">
                            <svg style="width: 26px;margin: 0px 13px 0px 0px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path fill='#ffffff'd="M629.8 160.31L416 224l-50.49-25.24a64.07 64.07 0 0 0-28.62-6.76H280v-48h56c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16H176c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16h56v48h-56L37.72 166.86a31.9 31.9 0 0 0-5.79-.53C14.67 166.33 0 180.36 0 198.34v94.95c0 15.46 11.06 28.72 26.28 31.48L96 337.46V384c0 17.67 14.33 32 32 32h274.63c8.55 0 16.75-3.42 22.76-9.51l212.26-214.75c1.5-1.5 2.34-3.54 2.34-5.66V168c.01-5.31-5.08-9.15-10.19-7.69zM96 288.67l-48-8.73v-62.43l48 8.73v62.43zm453.33 84.66c0 23.56 19.1 42.67 42.67 42.67s42.67-19.1 42.67-42.67S592 288 592 288s-42.67 61.77-42.67 85.33z"/>
                              </svg>
                            <span class="title_btn_white">
                              {{'Réserver' | translate }}

                            </span>
                        </div>
                        </button>
                    </div>-->

                </div>

                <br>
                <!--   <div *ngIf="lubricant?.quantity == 0" class="col-lg-12 col-md-12 col-xs-12"
                    style=" padding-top:15px; padding-left:0px">
                    <i class="fa fa-exclamation-circle " aria-hidden="true" style="color: #F01235;display: inline"></i>
                    <p style="display: inline;font-size: 12px;">
                      {{'Articleindisponible' | translate }}

                    </p>
                </div>-->
            </div>

            <div style="margin-top: 40px;">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-blank ">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <p class="title_description">
                      {{'Description' | translate }}

                            </p>
                        </div>
                        <div class="panel-collapse" style="margin-top: 10px;">
                            <span class="text_description angular-with-newlines" ng-repeat="item in items">{{lubricant?.description}}</span><br><br>
                            <a *ngIf='lubricant?.file' href='{{lubricant?.filePath}}' target="_blank" class="text_description">
                                <svg height="20" viewBox="0 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Solid">
                                        <path fill='#ED0000' d="m239.029 384.97a24 24 0 0 0 33.942 0l90.509-90.509a24 24 0 0 0 0-33.941 24 24 0 0 0 -33.941 0l-49.539 49.539v-262.059a24 24 0 0 0 -48 0v262.059l-49.539-49.539a24 24 0 0 0 -33.941 0 24 24 0 0 0 0 33.941z"/>
                                        <path fill='#ED0000' d="m464 232a24 24 0 0 0 -24 24v184h-368v-184a24 24 0 0 0 -48 0v192a40 40 0 0 0 40 40h384a40 40 0 0 0 40-40v-192a24 24 0 0 0 -24-24z"/>
                                </g></svg>

                      {{'FicheTechnique' | translate }}

                              </a>
                        </div>
                    </div>
                </div>
            </div>

            <div style="clear:both"></div>
        </div>
    </div>
    <!--/ right column end -->

</div>
