
.divNavbar{
    padding: 0px;
}
.actived{
  color: red !important;
  text-decoration: underline;
}
@media  (min-width: 993px){
    .divImg {
        width: 10% ;
    }
    .divNavbar {
        width: 90% ;
    }
}

@media   (max-width: 992px) and (min-width: 769px){
    .divImg {
        width: 13% ;
    }
    .divNavbar {
        width: 87% ;
    }
}
@media   (max-width: 768px){
    .divImg {
        width: 0% ;
    }
    .divNavbar {
        width: 100% ;
    }
}


@media (min-width: 768px) {
.container {
    padding-left: 60px;
    padding-right: 60px;
}
}
@media (max-width: 767px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    }
    .navbar-fixed-bottom, .navbar-fixed-top {
        z-index: 999;
    }
    @media (min-width: 980px) and (max-width: 993px) {

        .cartMenu a.dropdown-toggle,
        .cartMenu a#cart-sidebar-toggle {
            font-size: 0px !important;
        }
    }

    @media (min-width: 768px) {
        .navbar-tshop ul.nav li.dropdown ul.dropdown-menu {
            max-height: 500px;
            overflow-y: scroll;
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        .navbar-nav>li>a {
            font-size: 15px;
        }

        .cartMenu a.dropdown-toggle,
        .cartMenu a#cart-sidebar-toggle {
            font-size: 15px;
        }

        .userMenu>li>a {
            font-size: 11px;
        }
    }
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
        margin-right: 0px;
        margin-left: 0px;
    }
