<div class="navbar navbar-tshop navbar-fixed-top megamenu my_nav_bar container" role="navigation"
    style="padding-top: 15px;">
    <div class="header-left display-none-mob inner clearfixlead-text-empty hidden-xs">
        <div class="header-left-logo">
            <a [routerLink]="['/']" itemprop="url">
                <img itemprop="logo" typeof="foaf:Image" src="/assets/images/logo.png"
                    alt="TotalEnergies - Aller à la page d’accueil"></a>
        </div>
    </div>
    <!--<div class="col-lg-1 col-md-1 col-sm-2 divImg hidden-xs" style="min-height: 112px;">
        <a [routerLink]="['/']" class="hidden-xs " style="    position: absolute;
        top: 0; bottom: 0;left: 0;height: 50%;margin: auto;">
            <img src="/assets/images/logo.png" alt="logo total" style=" max-height: 76px;
            width: 104px;">
        </a>
    </div>-->
    <div class="header-right">
        <div class=" navbar-top hidden-xs">
            <div class="container" style="padding: 0;">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-margin no-padding"
                    style="transform: translate(0%, 36%);">
                    <ul class="userMenu  pull-left">
                        <li style="float: left;">
                            <a [routerLink]="['/']" class="hidden-xs  ">
                                <span class="hidden-xs titre_6_menu"> {{'Title' | translate }}
                                </span>
                            </a>
                        </li>

                    </ul>

                    <ul class="userMenu pull-right ">
                        <li *ngIf='!token || !userConnected'>
                            <a (click)="openDialogLogin()">
                                <span class="hidden-xs titre_2_menu"> {{'login' | translate }} </span>
                                <i class="hidden-lg hidden-md hidden-sm glyphicon glyphicon-user titre_2_menu"
                                    style="color:#374649;font-size: 10px; "></i>
                            </a>
                        </li>


                        <li *ngIf='token && userConnected' class="nav-item dropdown">
                            <a id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="hidden-xs titre_2_menu">{{userConnected.lastName }}
                                    {{userConnected.firstName }} </span>
                                <i class="hidden-lg hidden-md hidden-sm glyphicon glyphicon-user titre_2_menu"
                                    style="color:#374649;font-size: 10px; "></i>

                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2"
                                style="padding: 58px 10px 10px 10px;">
                                <a class="dropdown-item " type="button" [routerLink]="['/mescommandes']">
                                    <p class="titre_2_menu"> {{'commande' | translate }}</p>
                                </a>
                                <a class="dropdown-item " type="button" [routerLink]="['/profil']">
                                    <p class="titre_2_menu"> {{'profil' | translate }}</p>
                                </a>
                            </div>
                        </li>


                        <li>
                            <a>
                                <span class="titre_2_menu">|</span>

                            </a>
                        </li>

                        <li class="hidden-xs hidden-sm" *ngIf='!token || !userConnected'>
                            <a (click)="openDialogRegister()">
                                <span class="titre_2_menu"> {{'register' | translate }} </span>
                            </a>

                        </li>
                        <li class="hidden-xs hidden-sm" *ngIf='!token || !userConnected'>
                            <a>
                                <span class="titre_2_menu">|</span>

                            </a>
                        </li>


                        <li class="" *ngIf='token && userConnected'>
                            <a (click)="logout()">
                                <span class="hidden-sm hidden-xs titre_2_menu">
                                    {{'logout' | translate }}

                                </span>
                                <i class="hidden-lg hidden-md   glyphicon glyphicon-log-out "
                                    style="color:#374649;font-size: 10px; "></i>
                            </a>
                        </li>



                    
                    </ul>

                </div>
            </div>
        </div>
        <div class="container" style="padding: 0;">
            <div class="navbar-header">


                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                    style="background: #ffffff !important;float:right;margin-right: 0px;padding: 14px 0px;"><span
                        class="sr-only"> Toggle
                        navigation </span> <span class="icon-bar"> </span> <span class="icon-bar">
                    </span> <span class="icon-bar"> </span>
                </button>
                <!--<div class="pull-right hidden-lg hidden-md hidden-sm ">
                    <i class="fa fa-search icon" style='padding: 21px 10px;
                    color: #ED0000;
                    cursor: pointer;
                    font-size: 18px;'
                        (click)='blockSearch("active")'></i>
                </div>-->
                <a [routerLink]="['/']" class="hidden-lg  hidden-md hidden-sm">
                    <img src="/assets/images/logo.png" alt="logo total" style="width: 75px;float: left;">
                </a>
                <a [routerLink]="['/']" class="hidden-lg  hidden-md hidden-sm titre_6_menu" style="    position: absolute;
                padding: 24px 0px 20px 8px;"> {{'Title' | translate }}</a>





            </div>


            <!--/.navbar-cart-->
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="dropdown megamenu-fullwidth box  curmudgeon" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact:true}">
                        <a class="dropdown-toggle titre_1_menu" name="routing-strategies" style="padding-left: 0px;"
                            [routerLink]="['/']">
                            {{'Titlep1' | translate }}
                        </a>
                    </li>
                    <li class="dropdown megamenu-fullwidth" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact:true}">
                        <a class="dropdown-toggle titre_1_menu" name="routing-strategies" [routerLink]="['/offers']">
                            {{'promovid' | translate }}

                        </a>
                    </li>
                    <li class="dropdown megamenu-fullwidth" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact:true}">
                        <a class="dropdown-toggle titre_1_menu" name="routing-strategies"
                            [routerLink]="['/lubricants']">
                            {{'titlelubrifiant' | translate }}

                        </a>
                    </li>
                    <li class="dropdown megamenu-fullwidth hidden-lg hidden-md hidden-sm"
                        *ngIf='!token || !userConnected'>
                        <a (click)="openDialogLogin()" class="dropdown-toggle titre_11_menu" name="routing-strategies">
                            {{'login' | translate }}

                        </a>

                    </li>
                    <li class="dropdown megamenu-fullwidth hidden-lg hidden-md hidden-sm"
                        *ngIf='token && userConnected'>
                        <a id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            class="dropdown-toggle titre_11_menu" name="routing-strategies">{{userConnected.lastName
                            }}{{userConnected.firstName }}
                            <i class="fa fa-caret-down icon " style="color: #ED0000;"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="padding: 5px 0px 0px 20px;">
                            <a class="dropdown-item  " type="button" [routerLink]="['/mescommandes']">
                                <p class="titre_2_menu">
                                    {{'commande' | translate }}

                                </p>
                            </a>
                            <a class="dropdown-item " type="button" [routerLink]="['/profil']">
                                <p class="titre_2_menu"> {{'profil' | translate }}
                                </p>
                            </a>
                        </div>
                    </li>
                    <li class="dropdown megamenu-fullwidth hidden-lg hidden-md hidden-sm"
                        *ngIf='!token || !userConnected'>
                        <a (click)="openDialogRegister()" class="dropdown-toggle titre_11_menu"
                            name="routing-strategies">
                            {{'register' | translate }}

                        </a>
                    </li>
                    <li class="dropdown megamenu-fullwidth hidden-lg hidden-md hidden-sm"
                        *ngIf='token && userConnected'>
                        <a (click)="logout()" class="dropdown-toggle titre_11_menu" name="routing-strategies">
                            {{'logout' | translate }}

                        </a>
                    </li>
                    <li *ngIf='langues?.length >0' class="nav-item dropdown hidden-lg hidden-md hidden-sm">
                        <a id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="dropdown-toggle titre_11_menu" name="routing-strategies">
                            <span class=" titre_11_menu"> {{langue}} </span>
                            <i class="fa fa-caret-down icon " style="color: #ED0000;"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2"
                            style="padding:  10px 10px 0px 10px;min-width: 43px;">
                            <a class="dropdown-item " type="button"  *ngIf='langues?.includes("fr")' (click)="translateSite('fr')">
                                <p class="titre_2_menu"> FR </p>
                            </a>
                            <a class="dropdown-item " type="button"  *ngIf='langues?.includes("en")' (click)="translateSite('en')">
                                <p class="titre_2_menu"> EN </p>
                            </a>
                            <a class="dropdown-item " type="button"  *ngIf='langues?.includes("ar")' (click)="translateSite('ar')">
                                <p class="titre_2_menu"> AR </p>
                            </a>
                          
                        </div>
                    </li>
                    <li class="dropdown megamenu-fullwidth hidden-lg hidden-md hidden-sm">
                        <a href="https://services.totalenergies.tn/" class="dropdown-toggle titre_11_menu"
                            target="_blank" name="routing-strategies">TotalEnergies.tn</a>
                    </li>


                </ul>
                <ul class="userMenu pull-right hidden-xs" style="padding-top: 8px;"> 
                     <li *ngIf='langues?.length >0' class="nav-item dropdown">
                        <a id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class=" titre_2_menu"> {{langue}} </span>
                            <i class="fa fa-caret-down icon" style="color: #374649;"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2"
                            style="padding:  10px 10px 0px 10px;min-width: 43px;">
                            <a class="dropdown-item " type="button"  *ngIf='langues?.includes("fr")' (click)="translateSite('fr')">
                                <p class="titre_2_menu"> FR </p>
                            </a>
                            <a class="dropdown-item " type="button"  *ngIf='langues?.includes("en")' (click)="translateSite('en')">
                                <p class="titre_2_menu"> EN </p>
                            </a>
                            <a class="dropdown-item " type="button"  *ngIf='langues?.includes("ar")' (click)="translateSite('ar')">
                                <p class="titre_2_menu"> AR </p>
                            </a>
                          
                        </div>
                    </li>

                    <li class="" >
                        <a>
                            <span class="titre_2_menu">|</span>

                        </a>
                    </li>
                    <li class="">
                        <a href="https://services.totalenergies.tn/contact" target="_blank">
                            <img src="/assets/images/envelope_red.png" style="width: 15px;">

                        </a>
                    </li>
                    <li class="">
                        <a>
                            <span class="titre_2_menu">|</span>

                        </a>
                    </li>

                    <li>
                        <a href="https://services.totalenergies.tn/" target="_blank">
                            <span class="titre_3_menu">TotalEnergies.tn</span>

                        </a>
                    </li>

                </ul>
                <!--<div class="pull-right hidden-xs">
                    <i class="fa fa-search icon" style='padding: 10px 5px;color: #ED0000;cursor: pointer;font-size: 18px;'
                        (click)='blockSearch("active")'></i>
                </div>-->




                <!--/.navbar-nav hidden-xs-->
            </div>
            <!--/.nav-collapse -->


        </div>
        <div class="search-full text-right {{visibleSearch}}">

            <a class="pull-right search-close" (click)='blockSearch("")'>
                <span aria-hidden="true">×</span>
            </a>
            <form method="get">
                <div class="searchInputBox pull-right">
                    <input type="search" name="keyword" placeholder="Rechercher..." class="search-input"
                        (keyup)="onKeyupSearch()" [(ngModel)]="search">
                    <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
                </div>
            </form>
        </div>
    </div>




    <!--<div style="height: 6px;background: linear-gradient(90deg,#fff,#fff 37.17%,#c5c6c7);">
    </div>-->

</div>