<div class="container text-center" style="margin: auto;
width: 50%;">




    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rowright " style="padding-top: 16px;">
        <div class="row" style="margin: 0;padding-right: 0px;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  " style="padding: 0px 0px;">
                <form class="row text-center" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <p class="titlepagered text-center" >
                          {{'reinitialisationpassword' | translate}}
                            </p>

                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <mat-error *ngIf="error">
                                <span style="font-size: 17px;">{{error}}</span>
                            </mat-error>
                            <div class="alert alert-success" role="alert" *ngIf="success">
                                <span style="font-size: 17px;">{{success}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <p _ngcontent-nvw-c191="" class="titlepagegris" style="font-size: 16px;    margin: 0;">
                          {{'newpass' | translate}}

                                    </p>

                                <input class='form-control inputReset' type='password' matInput
                                    placeholder="Nouveau mot de passe*" id="password" formControlName="password"
                                    [ngClass]="{ 'is-invalid':  form.password.touched && form.password.errors}">
                            </mat-form-field>
                            <mat-error *ngIf="form.password.touched && form.password.errors">
                                <div *ngIf="form.password.errors.required">
                                    <i class="fa fa-exclamation-circle mr-1"></i>
                                    <span> {{'validpass' | translate }}</span>
                                </div>
                                <div *ngIf="form.password.errors.pattern">
                                    <i class="fa fa-exclamation-circle mr-1"></i>
                                    <span>
                                      {{'renseipassword' | translate }}
                                    </span>
                                </div>
                            </mat-error>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <p _ngcontent-nvw-c191="" class="titlepagegris" style="font-size: 16px;    margin: 0;">

                                    {{'confpass' | translate }}

                                  </p>

                                <input class='form-control inputReset' type='password' matInput
                                    placeholder="Confirmer nouveau mot de passe*" id="confirmpassword"
                                    formControlName="confirmpassword"
                                    [ngClass]="{ 'is-invalid':  form.confirmpassword.touched && form.confirmpassword.errors}">
                            </mat-form-field>
                            <mat-error *ngIf="form.confirmpassword.touched && form.confirmpassword.errors">
                                <div *ngIf="form.confirmpassword.errors.required">
                                    <i class="fa fa-exclamation-circle mr-1"></i>
                                    <span>{{'renseipassword' | translate}}</span>
                                </div>
                                <div *ngIf="form.confirmpassword.errors.pattern">
                                    <i class="fa fa-exclamation-circle mr-1"></i>
                                    <span>{{'validpass' | translate}} </span>
                                </div>
                                <div *ngIf="form.confirmpassword.value !== form.password.value" >
                                    <i class="fa fa-exclamation-circle mr-1"></i>
                                    <span>
                                      {{'identikpassword' | translate }}
                                    </span>
                                </div>
                            </mat-error>


                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group">
                            <button class="btn btn-red" type="submit">
                                <span class="text-btn-red">
                                  {{'reinitialisationpassword' | translate }}
                                </span>
                            </button>
                        </div>
                    </div>


                </form>



            </div>
        </div>

    </div>
</div>
