::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: transparent!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    opacity: 0!important;
}
::ng-deep .mat-input-element {
    caret-color: #374649!important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: transparent !important;
}
::ng-deep .mat-form-field-ripple {
    background-color: transparent !important;
}
::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0!important;
}
::ng-deep .mat-error {
    padding: 0px 0px 0px 4px;
    font-size: 12px;
}
::ng-deep.mat-form-field-infix {
    padding: 0 0 .8em 0!important;
    border-top: .84375em solid transparent!important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0!important;

}
::ng-deep .mat-form-field-infix {

    width: 100%!important;

}
::ng-deep.mat-form-field {

    width: 100%;
}
.inputReset{
    border: 1px solid #ccc !important;
    padding: 6px 0px 6px 10px;
}